@import "./usable/vendor.scss";

.footer-black {
    background-color: #242627 !important;
}


.footer {
    position: relative;

    background-color: #1B3281;

    // min-height: 622px;
    
    &__bg {
        position: absolute;
        bottom: 0;
        right: 0;

        @include break-mobile {
            display: none;
        }

        &-mobile {
            display: none;
            position: absolute;
            bottom: 0;
            right: 0;

            &-second {
                @include width-height(67px, 100px);

                overflow: hidden;

                svg {
                    @include width-height(100%, 100%);
                    position: absolute;
                    bottom: 0;
                    right: -11px;
                }

            }

            @include break-mobile {
                display: block;
            }

        }

    }

    &__main {
        @include fc_;
        gap: 100px;

        margin-bottom: 35px;
        padding-bottom: 35px;

        border-bottom: 1px solid #fff;

        @include break-desk-big {
            flex-direction: column;
            justify-content: center;
            gap:  24px;
        }

        @include break-mobile {
            padding-bottom: 24px;
            margin-bottom: 16px;
        }

    }

    &__inner {
        padding: 230px 0 80px;

        @include break-desk-big {
            padding: 217px 0 80px;
        }


        .footer-info {
            font-size: 12px;
            text-align: center;
            &__description {
                font-weight: 600;
                color: $color-orange-main;
            }

            .footer-black-info__description {
                color: $color-orange-lighten;
            }
        }
        .footer-policy {
            @include fcc;
            margin: 0 0 25px;

            @include break-mobile {
                flex-direction: column;
            }

            &__item {
                color: #fff;
                text-decoration: underline #fff;
                margin: 0 30px 0 0;

                @include break-mobile {
                    margin: 0 0 15px;
                }
            }
        }
    }

    &__logo {
        @include fcc;
        flex-direction: column;
        img {
            margin: 0 0 10px;
        }
        p {
            color: #fff;
            font-size: 12px; 
            font-weight: 300;
            text-align: center;
        }
    }
    
    &__menu {
        position: relative;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 70px;
        
        @include break-desk-big {
            grid-template-columns: repeat(2, 1fr);
            gap: 40px;
        }

        @include break-mobile-small {
            gap: 20px;
        }
    }

    .footer-list {
        @include fcc;
        flex-direction: column;
        color: #fff;

        &__name {
            font-size: 18px;
            font-weight: 700;
            margin: 0 0 10px;
        }

        &__item {
            margin: 0 0 10px;
            width: 100%;
            text-align: left;
        }

        &__link {
            @include transition;
            font-weight: 300;

            &:hover {
                color: $color-purple-button;
            }
        }

        .footer-black-list__link {
            @include transition;

            &:hover {
                font-weight: 600;
                color: $color-orange-lighten;
            }
        }
    }
}