@import "./usable/vendor.scss";

.header {
    &__inner {
        @include fc_;
        min-height: 130px;

        @include break-desk-big {
            min-height: 150px;
            justify-content: center;
        }

        .header__logo {
            margin: 0 50px 0 0;

            @include break-desk-big {
                margin: 0 25px 0 0;
            }

            @include break-desk {
                display: none;
            }

        }
    }

    &__item {
        @include fc_;
    }

    &__contacts {
        .menu {
            position: relative;
            @include fcb;
            margin: 0 0 20px;

            @include break-desk {
                flex-direction: column-reverse;
            }

            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 1px;
                bottom: -10px;
                background-color: rgba(117, 117, 117, 0.6);


            }

            &__list {
                @include fc_;

                @include break-desk-big {
                    flex-wrap: wrap;
                }

                
                @include break-desk {
                    flex-direction: column;
                }

                .menu__item {
                    @include fc_;
                    padding: 8px 16px;
                    cursor: pointer;

                    .menu__link {
                        margin: 0 0 0 8px;
                        white-space: nowrap;

                        &:not(:last-child) {
                            margin: 0 8px 0 0;
                        }

                        @include break-mobile {
                            white-space: normal;
                        }
                    }
                }
            }

            .contact {
                @include fc_;

                &__link {
                    white-space: nowrap;
                    margin: 0 25px 0 0;

                }
            }
        }

        .nav {
            @include fcb;
            position: relative;

            @include break-desk {
                flex-direction: column;
                justify-content: none;
            }

            &::before {
                @include transition;
                content: "";
                position: absolute;
                top: -10px;
                width: 100%;
                height: 2px;
                background-color: $color-purple-button;
                opacity: 0;
            }

            &__list {
                @include fc_;

                @include break-desk {
                    flex-direction: column;
                }
    
            }

            &__item {
                position: relative;
                @include fcc;
                padding: 8px 16px;
                margin: 0 32px 0 0;
                cursor: pointer;

                @include break-desk-big {
                    margin: 0 4px 0 0;
                }

                &:hover {
                    .nav__sub-list {
                        opacity: 1;
                        pointer-events: all;
                    }
                }

            }

            &__link {
                white-space: nowrap;
                margin: 0 4px 0 0;
                font-weight: 500;
                font-size: 17px;
            }

            .nav__sub-list {
                @include transition;
                position: absolute;
                top: 100%;
                z-index: 5;
                opacity: 0;
                pointer-events: none;

                &:hover {
                    opacity: 1;
                    pointer-events: all
                }

                li {
                    @include transition;
                    padding: 10px 15px;
                    font-size: 14px;
                    font-weight: 500;
                    white-space: nowrap;
                    background-color: #fff;

                    &:hover {
                        background-color: #1b3281;
                        color: #fff;
                    }
                }
            }

            .user-actions {
                @include fc_;
                gap: 0 30px;
        
                &__language {
                    @include fc_;
        
                    .user-actions__button {
                        font-weight: 500;
                        font-size: $fz-main;
                        color: $color-black-lighten;
                        margin: 0 4px 0 0;
                    }
                }
            }
        }
    }

    .contact-black__button {
        background-color: $color-orange-lighten;
    }
}
