<section class="about-us">
    <img class="about-us__bg" src="./img/concert-botttom-bg.png" alt="">
    <div class="_container">
        <ul class="concert-category concert-category-mobile about-us__category _container">
            <li class="concert-category__item">
                <a href="#" class="concert-category__link">
                    <img src="./img/concert-photo-1.png" alt="">
                    <p class="concert-category__name">Главная арена</p>
                    <div class="category-inner">
                        <a href="#" class="category-inner__button _button">Узнать подробнее</a>
                        <p class="category-inner__title">Фитнес- арена</p>
                    </div>
                </a>
            </li>
            <li class="concert-category__item">
                <a href="#" class="concert-category__link">
                    <img src="./img/concert-photo-2.png" alt="">
                    <p class="concert-category__name">Залы</p>
                    <div class="category-inner">
                        <a href="#" class="category-inner__button _button">Узнать подробнее</a>
                        <p class="category-inner__title">Залы</p>
                    </div>
                </a>
            </li>
            <li class="concert-category__item">
                <a href="#" class="concert-category__link">
                    <img src="./img/concert-photo-3.png" alt="">
                    <p class="concert-category__name">Фитнес- арена</p>
                    <div class="category-inner">
                        <a href="#" class="category-inner__button _button">Узнать подробнее</a>
                        <p class="category-inner__title">Фитнес- арена</p>
                    </div>
                </a>
            </li>
            <li class="concert-category__item">
                <a href="#" class="concert-category__link">
                    <img src="./img/concert-photo-4.png" alt="">
                    <p class="concert-category__name">DIVS-отель</p>
                    <div class="category-inner">
                        <a href="#" class="category-inner__button _button">Узнать подробнее</a>
                        <p class="category-inner__title _text-center">DIVS-отель</p>
                    </div>
                </a>
            </li>
            <li class="concert-category__item">
                <a href="#" class="concert-category__link">
                    <img src="./img/concert-photo-5.png" alt="">
                    <p class="concert-category__name">DIVS-кафе</p>
                    <div class="category-inner">
                        <a href="#" class="category-inner__button _button">Узнать подробнее</a>
                        <p class="category-inner__title">DIVS-кафе</p>
                    </div>
                </a>
            </li>
        </ul>
        <div class="about-us__inner">
            <img class="about-us__swab" src="./img/swab.svg" alt="swab">
            <div class="about-us__photos">
                <img src="./img/about-us-1.jpg" alt="" />
                <img src="./img/about-us-2.jpg" alt="" />
                <img src="./img/about-us-3.jpg" alt="" />
            </div>
            <div class="about-us__content">
                <p class="about-us__head">В ДИ<span>ВСЕ НА СПОРТЕ!</span></p>
                <h2 class="about-us__title">Дворец ДИВС</h2>
                <p class="about-us__description">
                    Дворец игровых видов спорта впервые принял посетителей 11
                    июня 2003 года на приуроченном к открытию турнире по
                    волейболу на Кубок Первого Президента России Бориса Ельцина.
                    Дворец игровых видов спорта, во многом, уникальная арена,
                    построенная по оригинальному проекту австрийской компании
                    «Э. Фурман Баугезельшафт МБХ» всего за два года, стал
                    настоящей достопримечательностью центра города и прекрасно
                    вписался в ландшафт набережной реки Исеть.
                </p>
                <ul class="statistics">
                    <li class="statistics__item">
                        <span>11 000</span>
                        различных мероприятий
                    </li>
                    <li class="statistics__item">
                        <span>1 000 м²</span>
                        площадь игрового поля
                    </li>
                    <li class="statistics__item">
                        <span>21 000 м²</span>
                        общая площадь
                    </li>
                    <li class="statistics__item">
                        <span>35</span>
                        достижений и наград
                    </li>
                </ul>
                <a class="about-us__button _button" href="#" >
                    Узнать подробнее
                </a>
            </div>
        </div>
    </div>
</section>
