<section class="about-us">
    <img class="about-us__bg" src="./img/concert-botttom-bg.png" alt="">
    <div class="_container">
        <div class="about-us__inner">
            <img class="about-us__swab" src="./img/swab.svg" alt="swab">
            <div class="about-us__photos">
                <img src="./img/about-us-1.jpg" alt="" />
                <img src="./img/about-us-2.jpg" alt="" />
                <img src="./img/about-us-3.jpg" alt="" />
            </div>
            <div class="about-us__content">
                <p class="about-us__head">В ДИ<span>ВСЕ НА СПОРТЕ</span></p>
                <h1 class="about-us__title">Дворец ДИВС</h1>
                <p class="about-us__description">
                    Дворец игровых видов спорта впервые принял посетителей 11
                    июня 2003 года на приуроченном к открытию турнире по
                    волейболу на Кубок Первого Президента России Бориса Ельцина.
                    Дворец игровых видов спорта, во многом, уникальная арена,
                    построенная по оригинальному проекту австрийской компании
                    «Э. Фурман Баугезельшафт МБХ» всего за два года, стал
                    настоящей достопримечательностью центра города и прекрасно
                    вписался в ландшафт набережной реки Исеть.
                </p>
                <ul class="statistics">
                    <li class="statistics__item">
                        <span>11 000</span>
                        различных мероприятий
                    </li>
                    <li class="statistics__item">
                        <span>1 000 м²</span>
                        площадь игрового поля
                    </li>
                    <li class="statistics__item">
                        <span>21 000 м²</span>
                        общая площадь
                    </li>
                    <li class="statistics__item">
                        <span>35</span>
                        достижений и наград
                    </li>
                </ul>
                <a class="about-us__button _button" href="#" >
                    Узнать подробнее
                </a>
            </div>
        </div>
    </div>
</section>
