<section class="advantage">
    <img class="advantage__bg" src="./img/concert-botttom-bg.png" alt="">
    <div class="_container">
        <form class="advantage__form" action="#">
            <input type="text" name="name" placeholder="Ваше имя">
            <input type="tel" name="phone" placeholder="Ваш телефон">
            <input type="email" name="email" placeholder="Ваш email">
            <div class="advantage__attach">
                <img src="./img/attach-icon.svg" alt="attach-icon">
                <p>Прикрепить резюме</p>
            </div>
            <button class="advantage__button _button">Отправить</button>
        </form>
        <div class="advantage__inner">
            <p class="advantage__head _sub-title">В ДИ<span>ВСЕ ПРЕИМУЩЕСТВА</span></p>
            <div class="advantage__caption">
                <h1 class="advantage-name _title">Присоединяйся к нашей команде</h1>
            </div>
            <div class="advantage__items">
                <img class="items-block" src="./img/advantage-block.png" alt="">
                <ul class="advantage__list">
                    <li class="advantage__item">
                        <div class="advantage__content">
                            <img src="./img/advantage-icon-1.svg" alt="">
                            <h5 class="advantage__title">Бесплатный фитнес</h5>
                            <p class="advantage__text">Для всех сотрудников сети</p>
                        </div>
                    </li>
                    <li class="advantage__item">
                        <div class="advantage__content">
                            <img src="./img/advantage-icon-2.svg" alt="">
                            <h5 class="advantage__title">Молодая команда</h5>
                            <p class="advantage__text">Средний возраст сотрудников 24-27 лет</p>
                        </div>
                    </li>
                    <li class="advantage__item">
                        <div class="advantage__content">
                            <img src="./img/advantage-icon-3.svg" alt="">
                            <h5 class="advantage__title">Карьерный рост</h5>
                            <p class="advantage__text">Мы поможем тебе добиться многого</p>
                        </div>
                    </li>
                    <li class="advantage__item">
                        <div class="advantage__content">
                            <img src="./img/advantage-icon-4.svg" alt="">
                            <h5 class="advantage__title">Стабильная зарплата</h5>
                            <p class="advantage__text">У нас счастливые сотрудники</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>