<section class="advertisers-section">
    <div class="_container">
        <ul class="breadcrumbs">
            <li class="breadcrumbs__item">
                <a href="/" class="breadcrumbs__link">Главная</a>
            </li>
            <li class="breadcrumbs__item">
                <a class="breadcrumbs__link">Рекламодателям</a>
            </li>
        </ul>
        <div class="advertisers-section__inner">
            <p class="advertisers-section__head _sub-title">В ДИ<span>ВСЕ ПРИЛОЖЕНИЯ!</span></p>
            <h1 class="advertisers-section__title _title">РЕКЛАМОДАТЕЛЯМ</h1>
            <ul class="advertisers-section__items _grid">
                <li class="advertisers-section__item grid__item">
                    <img src="./img/advertisers-section-1.png" alt="">
                    <p class="grid__date">8 июля 2023</p>
                    <h3 class="grid__title">ХК «Автомобилист» — ХК «Металлург Мг»</h3>
                    <p class="grid__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a class="grid__button _button-no-fill" href="#">Узнать подробнее</a>
                </li>
                <li class="advertisers-section__item grid__item">
                    <img src="./img/advertisers-section-1.png" alt="">
                    <p class="grid__date">8 июля 2023</p>
                    <h3 class="grid__title">ХК «Автомобилист» — ХК «Металлург Мг»</h3>
                    <p class="grid__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a class="grid__button _button-no-fill" href="#">Узнать подробнее</a>
                </li>
                <li class="advertisers-section__item grid__item">
                    <img src="./img/advertisers-section-1.png" alt="">
                    <p class="grid__date">8 июля 2023</p>
                    <h3 class="grid__title">ХК «Автомобилист» — ХК «Металлург Мг»</h3>
                    <p class="grid__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a class="grid__button _button-no-fill" href="#">Узнать подробнее</a>
                </li>
                <li class="advertisers-section__item grid__item">
                    <img src="./img/advertisers-section-1.png" alt="">
                    <p class="grid__date">8 июля 2023</p>
                    <h3 class="grid__title">ХК «Автомобилист» — ХК «Металлург Мг»</h3>
                    <p class="grid__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a class="grid__button _button-no-fill" href="#">Узнать подробнее</a>
                </li>
                <li class="advertisers-section__item grid__item">
                    <img src="./img/advertisers-section-1.png" alt="">
                    <p class="grid__date">8 июля 2023</p>
                    <h3 class="grid__title">ХК «Автомобилист» — ХК «Металлург Мг»</h3>
                    <p class="grid__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a class="grid__button _button-no-fill" href="#">Узнать подробнее</a>
                </li>
                <li class="advertisers-section__item grid__item">
                    <img src="./img/advertisers-section-1.png" alt="">
                    <p class="grid__date">8 июля 2023</p>
                    <h3 class="grid__title">ХК «Автомобилист» — ХК «Металлург Мг»</h3>
                    <p class="grid__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a class="grid__button _button-no-fill" href="#">Узнать подробнее</a>
                </li>
            </ul>
        </div>
    </div>
</section>