<section class="anti-doping">
    <div class="_container">
        <div class="anti-doping__inner">
            <img class="anti-doping__bg" src="./img/facts-history-bg.png" alt="">
            <h2 class="facts-history__title">АНТИДОПИНГ</h2>
            <ul class="anti-doping-list">
                <li class="anti-doping-list__item">
                    <a href="#" target="_blank">
                        <img src="./img/documents-org-icon.svg" alt="documents-org-icon">
                        <p class="anti-doping-list__text">Письмо Министерства физической культуры и спорта Свердловской области №18-01-58/4533 от 14.09.2021г. О направлении информации</p>
                    </a>
                </li>
                <li class="anti-doping-list__item">
                    <a href="#" target="_blank">
                        <img src="./img/documents-org-icon.svg" alt="documents-org-icon">
                        <p class="anti-doping-list__text">Антидопинг. Важные факты и основные моменты</p>
                    </a>
                </li>
                <li class="anti-doping-list__item">
                    <a href="#" target="_blank">
                        <img src="./img/documents-org-icon.svg" alt="documents-org-icon">
                        <p class="anti-doping-list__text">Вопросы о допинге 1</p>
                    </a>
                </li>
                <li class="anti-doping-list__item">
                    <a href="#" target="_blank">
                        <img src="./img/documents-org-icon.svg" alt="documents-org-icon">
                        <p class="anti-doping-list__text">Открыть PDF Дисквалифицированным спортсменам</p>
                    </a>
                </li>
                <li class="anti-doping-list__item">
                    <a href="#" target="_blank">
                        <img src="./img/documents-org-icon.svg" alt="documents-org-icon">
                        <p class="anti-doping-list__text">Информация для родителей юных спортсменов</p>
                    </a>
                </li>
                <li class="anti-doping-list__item">
                    <a href="#" target="_blank">
                        <img src="./img/documents-org-icon.svg" alt="documents-org-icon">
                        <p class="anti-doping-list__text">Нарушения антидопинговых правил</p>
                    </a>
                </li>
                <li class="anti-doping-list__item">
                    <a href="#" target="_blank">
                        <img src="./img/documents-org-icon.svg" alt="documents-org-icon">
                        <p class="anti-doping-list__text">Приказ № 464 от 24.06.2021г. Об утверждении Общероссийских антидопинговых правил</p>
                    </a>
                </li>
                <li class="anti-doping-list__item">
                    <a href="#" target="_blank">
                        <img src="./img/documents-org-icon.svg" alt="documents-org-icon">
                        <p class="anti-doping-list__text">Об утверждении перечней субстанций и (или) методов, запрещенных для использования в спорте</p>
                    </a>
                </li>
                <li class="anti-doping-list__item">
                    <a href="#" target="_blank">
                        <img src="./img/documents-org-icon.svg" alt="documents-org-icon">
                        <p class="anti-doping-list__text">Приказ № 977 от 15.12.2021 г. Об утверждении методических рекомендаций по порядку информирования субъектов физической культуры и спорта о реализуемой антидопинговой политике, в том числе о последствиях нарушения антидопинговых правил</p>
                    </a>
                </li>
                <li class="anti-doping-list__item">
                    <a href="#" target="_blank">
                        <img src="./img/documents-org-icon.svg" alt="documents-org-icon">
                        <p class="anti-doping-list__text">Приказ № 998 от 20.12.2021 г. Об утверждений методических рекомендаций по совершенствованию механизмов ведения антидопинговой политики в субъектах Российской Федерации, общероссийских спортивных федерациях и региональных спортивных федерациях</p>
                    </a>
                </li>
                <li class="anti-doping-list__item">
                    <a href="#" target="_blank">
                        <img src="./img/documents-org-icon.svg" alt="documents-org-icon">
                        <p class="anti-doping-list__text">Памятка для тренера</p>
                    </a>
                </li>
                <li class="anti-doping-list__item">
                    <a href="#" target="_blank">
                        <img src="./img/documents-org-icon.svg" alt="documents-org-icon">
                        <p class="anti-doping-list__text">Запрещенный список 2022 г.</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>