<section class="arena-corp">
    <div class="_container">
        <div class="arena-corp__inner">
            <p class="arena-corp__head _sub-title _text-center">В ДИ<span>ВСЕ РАЗВЛЕКАТЬСЯ</span></p>
            <h1 class="arena-corp__title _title _text-center">Корпоративные мероприятия</h1>
            <div class="arena-corp__photos">
                <img src="./img/arena-corp-photo.png" alt="">
                <img src="./img/arena-corp-photo.png" alt="">
                <img src="./img/arena-corp-photo.png" alt="">
            </div>
            <div class="info">
                <p class="info__title">Провести юбилей компании, важную презентацию на нашей площадке – легко!</p>
                <div class="info__box">
                    <ul class="info__list">
                        <li class="info__item">
                            <img src="./img/mark-icon.svg" alt="">
                            <p>возможность трансформирования зала под необходимое количество гостей</p>
                        </li>
                        <li class="info__item">
                            <img src="./img/mark-icon.svg" alt="">
                            <p>фуршет – до 1500 человек, банкет – до 800 человек</p>
                        </li>
                        <li class="info__item">
                            <img src="./img/mark-icon.svg" alt="">
                            <p>размещение кейтеринга</p>
                        </li>
                    </ul>
                    <ul class="info__list">
                        <li class="info__item">
                            <img src="./img/mark-icon.svg" alt="">
                            <p>гримерные комнаты</p>
                        </li>
                        <li class="info__item">
                            <img src="./img/mark-icon.svg" alt="">
                            <p>световая и акустические системы</p>
                        </li>
                        <li class="info__item">
                            <img src="./img/mark-icon.svg" alt="">
                            <p>размещение welcome-зоны на 1-м этаже</p>
                        </li>
                    </ul>
                </div>

                <a href="#" target="_blank" class="info__bottom">
                    <img src="./img/documents-org-icon.svg" alt="">
                    <p>Спортивное и концертное оборудование</p>
                </a>
            </div>
        </div>
    </div>
</section>