<section class="career page-divs--arena-main">
    <div class="_container">
        <div class="career__inner">
            <ul class="breadcrumbs">
                <li class="breadcrumbs__item">
                    <a href="/" class="breadcrumbs__link">Главная</a>
                </li>
                <li class="breadcrumbs__item">
                    <a class="breadcrumbs__link">Главная арена</a>
                </li>
            </ul>
            <h2 class="career__title arena-main-title">Главная спортивная арена</h2>
            <p class="career__description arena-main-description">
                Самый большой зал в Урало-Сибирском регионе, его площадь - 1720 м²
            </p>
        </div>
    </div>
</section>
