<section class="career page-divs--career">
    <div class="_container">
        <div class="career__inner">
            <ul class="breadcrumbs">
                <li class="breadcrumbs__item">
                    <a href="/index.html" class="breadcrumbs__link">Главная</a>
                </li>
                <li class="breadcrumbs__item">
                    <a class="breadcrumbs__link">Вакансии</a>
                </li>
            </ul>
            <h1 class="career__title">НАЧНИ КАРЬЕРУ В ДИВС</h1>
            <p class="career__description">
                ДИВС это больше, чем работа. Это атмосфера и стиль жизни.
            </p>
        </div>
    </div>
</section>
