<section class="concert page-divs--concert">
    <div class="concert-slider">
        <button class="concert__prev">
            <img src="./img/arrow-prev.svg" alt="" />
        </button>
        <button class="concert__next">
            <img src="./img/arrow-next.svg" alt="" />
        </button>
        <div class="_container">
            <div class="concert__inner">
                <span class="concert__date">8 июля 2023</span>
                <h1 class="concert__title">Концерт группы КняZz</h1>
                <p class="concert__description">
                    Долгожданный концерт группы КняZz во Дворце игровых видов
                    спорта ДИВС
                </p>
                <a class="concert__button _button">
                    Узнать подробнее
                </a>
            </div>
            <ul class="concert-category">
                <li class="concert-category__item">
                    <a href="#" class="concert-category__link">
                        <img src="./img/concert-photo-1.png" alt="">
                        <p class="concert-category__name">Главная арена</p>
                        <div class="category-inner">
                            <a href="#" class="category-inner__button _button">Узнать подробнее</a>
                            <p class="category-inner__title">Фитнес- арена</p>
                        </div>
                    </a>
                </li>
                <a href="#" class="concert-category__link">
                    <li class="concert-category__item">
                        <img src="./img/concert-photo-2.png" alt="">
                        <p class="concert-category__name">Залы</p>
                        <div class="category-inner">
                            <a href="#" class="category-inner__button _button">Узнать подробнее</a>
                            <p class="category-inner__title">Залы</p>
                        </div>
                    </li>
                </a>
                <a href="#" class="concert-category__link">
                    <li class="concert-category__item">
                        <img src="./img/concert-photo-3.png" alt="">
                        <p class="concert-category__name">Фитнес- арена</p>
                        <div class="category-inner">
                            <a href="#" class="category-inner__button _button">Узнать подробнее</a>
                            <p class="category-inner__title">Фитнес- арена</p>
                        </div>
                    </li>
                </a>
                <a href="#" class="concert-category__link">
                    <li class="concert-category__item">
                        <img src="./img/concert-photo-4.png" alt="">
                        <p class="concert-category__name">DIVS-отель</p>
                        <div class="category-inner">
                            <a href="#" class="category-inner__button _button">Узнать подробнее</a>
                            <p class="category-inner__title _text-center">DIVS-отель</p>
                        </div>
                    </li>
                </a>
                <a href="#" class="concert-category__link">
                    <li class="concert-category__item">
                        <img src="./img/concert-photo-5.png" alt="">
                        <p class="concert-category__name">DIVS-кафе</p>
                        <div class="category-inner">
                            <a href="#" class="category-inner__button _button">Узнать подробнее</a>
                            <p class="category-inner__title">DIVS-кафе</p>
                        </div>
                    </li>
                </a>
            </ul>
        </div>
    </div>
    <!-- <div class="concert__bg">
        <img src="./img/concert-botttom-bg.png" alt="">
    </div> -->
</section>
