<section class="cooperator-documents">
    <img class="cooperator-documents__bg" src="./img/concert-botttom-bg.png" alt="">
    <div class="_container">
        <ul class="cooperator-documents__list _category-list">
            <li class="category-list__item">
                <a class="category-list__link _button-no-fill" href="#">Для сотрудников общий</a>
            </li>
            <li class="category-list__item">
                <a class="category-list__link _button-no-fill" href="#">Другие документы</a>
            </li>
        </ul>
        <div class="cooperator-documents__inner">
            <h2 class="cooperator-documents__title _title-description">ОБЩИЕ ДОКУМЕНТЫ ДЛЯ СОТРУДНИКОВ</h2>
            <div class="cooperator-documents__content">
                <ul class="cooperator-documents-list">
                    <li class="cooperator-documents-list__item">
                        <a href="#" target="_blank">
                            <img src="./img/documents-org-icon.svg" alt="cooperator-documents-icon">
                            <p class="cooperator-documents-list__text">Правила внутреннего трудового распорядка</p>
                        </a>
                    </li>
                    <li class="cooperator-documents-list__item">
                        <a href="#" target="_blank">
                            <img src="./img/documents-org-icon.svg" alt="cooperator-documents-icon">
                            <p class="cooperator-documents-list__text">Памятка 1</p>
                        </a>
                    </li>
                    <li class="cooperator-documents-list__item">
                        <a href="#" target="_blank">
                            <img src="./img/documents-org-icon.svg" alt="cooperator-documents-icon">
                            <p class="cooperator-documents-list__text">Телефонный справочник</p>
                        </a>
                    </li>
                    <li class="cooperator-documents-list__item">
                        <a href="#" target="_blank">
                            <img src="./img/documents-org-icon.svg" alt="cooperator-documents-icon">
                            <p class="cooperator-documents-list__text">Памятка 1</p>
                        </a>
                    </li>
                    <li class="cooperator-documents-list__item">
                        <a href="#" target="_blank">
                            <img src="./img/documents-org-icon.svg" alt="cooperator-documents-icon">
                            <p class="cooperator-documents-list__text">Решения совета трудового коллектива</p>
                        </a>
                    </li>
                    <li class="cooperator-documents-list__item">
                        <a href="#" target="_blank">
                            <img src="./img/documents-org-icon.svg" alt="cooperator-documents-icon">
                            <p class="cooperator-documents-list__text">Памятка 1</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>