<section class="corruption">
    <div class="_container">
        <div class="corruption__inner">
            <img src="./img/corruption-bg.png" alt="">
            <h1 class="corruption__title">ПРОТИВОДЕЙСТВИЕ КОРРУПЦИИ</h1>
            <div class="corruption-list">
                <div class="corruption-list__case">
                    <img src="./img/documents-org-icon.svg" alt="documents-org-icon">
                    <ul class="corruption-list__box">
                        <li class="corruption-list__item">
                            <p class="corruption-list__text _text-darken">Федеральные законы, указы Президента РФ и постановления Правительства РФ</p>
                        </li>
                        <li class="corruption-list__item">
                            <p class="corruption-list__text">Федеральный закон от 25 декабря 2008 года № 273-ФЗ «О противодействии коррупции»</p>
                        </li>
                        <li class="corruption-list__item">
                            <p class="corruption-list__text">Указ Президента РФ от 21.07.2010 № 925 "О мерах по реализации отдельных положений Федерального закона "О противодействии коррупции"</p>
                        </li>
                        <li class="corruption-list__item">
                            <p class="corruption-list__text">Указ Президента РФ от 16.08.2021 № 478 "О Национальном плане противодействия коррупции на 2021 - 2024 годы"</p>
                        </li>
                        <li class="corruption-list__item">
                            <p class="corruption-list__text">
                                Постановление Правительства РФ от 21.01.2015 № 29 "Об утверждении Правил сообщения работодателем о заключении трудового или гражданско-правового договора на выполнение работ (оказание услуг) с гражданином, замещавшим должности государственной или муниципальной службы, перечень которых устанавливается нормативными правовыми актами Российской Федерации"</p>
                        </li>
                    </ul>
                </div>
                <div class="corruption-list__case">
                    <img src="./img/documents-org-icon.svg" alt="documents-org-icon">
                    <ul class="corruption-list__box">
                        <li class="corruption-list__item">
                            <p class="corruption-list__text _text-darken">Законы СО, указы Губернатора СО, постановления Правительства СО и иные правовые акты СО</p>
                        </li>
                        <li class="corruption-list__item">
                            <p class="corruption-list__text">Закон Свердловской области от 20 февраля 2009 года № 2-ОЗ «О противодействии коррупции в Свердловской области»</p>
                        </li>
                        <li class="corruption-list__item">
                            <p class="corruption-list__text">Указ Губернатора Свердловской области от 03.11.2010 № 971-УГ "О мониторинге состояния и эффективности противодействия коррупции (антикоррупционном мониторинге) в Свердловской области" (вместе с "Порядком проведения антикоррупционного мониторинга в Свердловской области")</p>
                        </li>
                        <li class="corruption-list__item">
                            <p class="corruption-list__text">Указ Губернатора Свердловской области от 09.10.2015 № 449-УГ "О Комиссии по координации работы по противодействию коррупции в Свердловской области". Указ Губернатора Свердловской области от 15.12.2020 № 700-УГ "О некоторых вопросах организации представления и приема сведений о доходах, расходах, об имуществе и обязательствах имущественного характера"</p>
                        </li>
                        <li class="corruption-list__item">
                            <p class="corruption-list__text">
                                Указ Губернатора Свердловской области от 15.12.2020 № 700-УГ "О некоторых вопросах организации представления и приема сведений о доходах, расходах, об имуществе и обязательствах имущественного характера"</p>
                        </li>
                        <li class="corruption-list__item">
                            <p class="corruption-list__text">Указ Губернатора Свердловской области от 19.01.2021 № 10-УГ "О некоторых вопросах организации проверки достоверности и полноты сведений о доходах, об имуществе и обязательствах имущественного характера, соблюдения ограничений и требований к служебному поведению"</p>
                        </li>
                        <li class="corruption-list__item">
                            <p class="corruption-list__text">Распоряжение Губернатора Свердловской области от 07.05.2021 № 75-РГ «Об утверждении Комплексного плана мероприятий органов государственной власти Свердловской области по противодействию коррупции на 2021–2024 годы и перечня целевых показателей реализации Комплексного плана мероприятий органов государственной власти Свердловской области по противодействию коррупции на 2021–2024 годы»</p>
                        </li>
                    </ul>
                </div>
                <div class="corruption-list__case">
                    <img src="./img/documents-org-icon.svg" alt="documents-org-icon">
                    <ul class="corruption-list__box">
                        <li class="corruption-list__item">
                            <p class="corruption-list__text _text-darken">Документы ГАУ СО «ДИВС»</p>
                        </li>
                        <li class="corruption-list__item">
                            <p class="corruption-list__text">Отчет о выполнении плана работы по противодействию коррупции в ГАУ СО «ДИВС»</p>
                        </li>
                    </ul>
                </div>
                <div class="corruption-list__case">
                    <img src="./img/documents-org-icon.svg" alt="documents-org-icon">
                    <ul class="corruption-list__box">
                        <li class="corruption-list__item">
                            <p class="corruption-list__text _text-darken">Иные документы</p>
                        </li>
                    </ul>
                </div>
                <div class="corruption-list__case">
                    <a class="corruption-list__link" href="#">сайт</a>
                    <ul>
                        <li class="corruption-list__item">
                            <p class="corruption-list__text">Бесплатная юридическая помощь</p>
                        </li>
                    </ul>
                </div>
                <div class="corruption-list__case">
                    <a class="corruption-list__link" href="#">сайт</a>
                    <ul>
                        <li class="corruption-list__item">
                            <p class="corruption-list__text">«Телефон доверия» для сообщения информации о коррупционных проявлениях</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>