<section class="cooperator-documents">
    <img class="cooperator-documents__bg" src="./img/concert-botttom-bg.png" alt="">
    <div class="_container">
        <div class="cooperator-documents__box _category-list">
            <a class="cooperator-documents__item _button-no-fill" href="#">Общие документы</a>
            <a class="cooperator-documents__item _button-no-fill" href="#">Другие документы</a>
        </div>
        <div class="cooperator-documents__inner">
            <h1 class="cooperator-documents__title _title-description">ОБЩИЕ ДОКУМЕНТЫ</h1>
            <div class="cooperator-documents__content">
                <ul class="cooperator-documents-list">
                    <li class="cooperator-documents-list__item">
                        <img src="./img/documents-org-icon.svg" alt="cooperator-documents-icon">
                        <p class="cooperator-documents-list__text">Какой-то документ 1</p>
                    </li>
                    <li class="cooperator-documents-list__item">
                        <img src="./img/documents-org-icon.svg" alt="cooperator-documents-icon">
                        <p class="cooperator-documents-list__text">Памятка 1</p>
                    </li>
                    <li class="cooperator-documents-list__item">
                        <img src="./img/documents-org-icon.svg" alt="cooperator-documents-icon">
                        <p class="cooperator-documents-list__text">Какой-то документ 2</p>
                    </li>
                    <li class="cooperator-documents-list__item">
                        <img src="./img/documents-org-icon.svg" alt="cooperator-documents-icon">
                        <p class="cooperator-documents-list__text">Памятка 1</p>
                    </li>
                    <li class="cooperator-documents-list__item">
                        <img src="./img/documents-org-icon.svg" alt="cooperator-documents-icon">
                        <p class="cooperator-documents-list__text">Какой-то документ 3</p>
                    </li>
                    <li class="cooperator-documents-list__item">
                        <img src="./img/documents-org-icon.svg" alt="cooperator-documents-icon">
                        <p class="cooperator-documents-list__text">Памятка 1</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>