<section class="council-main page-divs--council">
    <div class="_container">
        <div class="council-main__inner">
            <ul class="breadcrumbs">
                <li class="breadcrumbs__item">
                    <a href="" class="breadcrumbs__link">Главная</a>
                </li>
                <li class="breadcrumbs__item">
                    <a class="breadcrumbs__link">Для членов наблюдательного совета</a>
                </li>
            </ul>
            <h1 class="council-main__title">ДЛЯ ЧЛЕНОВ НАБЛЮДАТЕЛЬНОГО СОВЕТА</h1>
        </div>
    </div>
</section>