<section class="council-important">
    <div class="_container">
        <div class="council-important__inner">
            <img src="./img/corruption-bg.png" alt="">
            <h1 class="corruption__title">ЕЩЕ КАКИЕ-ТО ВАЖНЫЕ ДОКУМЕНТЫ</h1>
            <ul class="council-important__items">
                <li class="council-important__item">
                    <img src="./img/documents-org-icon.svg" alt="council-important-icon">
                    <p class="council-important__text">Приказы о составе совета</p>
                </li>
                <li class="council-important__item">
                    <img src="./img/documents-org-icon.svg" alt="council-important-icon">
                    <p class="council-important__text">Решение совета 1</p>
                </li>
                <li class="council-important__item">
                    <img src="./img/documents-org-icon.svg" alt="council-important-icon">
                    <p class="council-important__text">Регламент работы совета</p>
                </li>
                <li class="council-important__item">
                    <img src="./img/documents-org-icon.svg" alt="council-important-icon">
                    <p class="council-important__text">Решение совета 1</p>
                </li>
            </ul>
        </div>
    </div>
</section>