<section class="documents page-divs--documents">
    <div class="_container">
        <div class="documents__inner">
            <ul class="breadcrumbs">
                <li class="breadcrumbs__item">
                    <a href="/index.html" class="breadcrumbs__link">Главная</a>
                </li>
                <li class="breadcrumbs__item">
                    <a class="breadcrumbs__link">Документы</a>
                </li>
            </ul>
            <h1 class="documents__title _main-page__title"><span>В ДИ</span>ВСЕ ДОКУМЕНТЫ</h1>
        </div>
    </div>
</section>