<section class="documents-org">
    <img class="documents-org__bg" src="./img/concert-botttom-bg.png" alt="">
    <div class="_container">
        <ul class="documents-org__list _category-list">
            <li class="category-list__item">
                <a class="category-list__link _button-no-fill" href="#">Организация</a>
            </li>
            <li class="category-list__item">
                <a class="category-list__link _button-no-fill" href="#">Для организаторов</a>
            </li>
            <li class="category-list__item">
                <a class="category-list__link _button-no-fill" href="#">Противодействие коррупции</a>
            </li>
            <li class="category-list__item">
                <a class="category-list__link _button-no-fill" href="#">Антидопинг</a>
            </li>
            <li class="category-list__item">
                <a class="category-list__link _button-no-fill" href="#">Прочее</a>
            </li>
        </ul>
        <div class="documents-org__inner">
            <h1 class="documents-org__title _title-description">ДОКУМЕНТЫ ОРГАНИЗАЦИИ</h1>
            <div class="documents-org__content">
                <ul class="documents-org-list">
                    <li class="documents-org-list__item">
                        <img src="./img/documents-org-icon.svg" alt="documents-org-icon">
                        <p class="documents-org-list__text">Устав ГАУ СО ДИВС</p>
                    </li>
                    <li class="documents-org-list__item">
                        <img src="./img/documents-org-icon.svg" alt="documents-org-icon">
                        <p class="documents-org-list__text">Изменения в уставе ГАУ СО ДИВС</p>
                    </li>
                    <li class="documents-org-list__item">
                        <img src="./img/documents-org-icon.svg" alt="documents-org-icon">
                        <p class="documents-org-list__text">Лист записи ЕГРЮЛ открыть</p>
                    </li>
                    <li class="documents-org-list__item">
                        <img src="./img/documents-org-icon.svg" alt="documents-org-icon">
                        <p class="documents-org-list__text">Указ губернатора со от 15. 10. 2002 г. №685-уг</p>
                    </li>
                    <li class="documents-org-list__item">
                        <img src="./img/documents-org-icon.svg" alt="documents-org-icon">
                        <p class="documents-org-list__text">Постановлении правительства со от 25. 04. 2013 №529-пп</p>
                    </li>
                    <li class="documents-org-list__item">
                        <img src="./img/documents-org-icon.svg" alt="documents-org-icon">
                        <p class="documents-org-list__text">Отчёт о результатах деятельности 2019 год</p>
                    </li>
                    <li class="documents-org-list__item">
                        <img src="./img/documents-org-icon.svg" alt="documents-org-icon">
                        <p class="documents-org-list__text">План ФХД</p>
                    </li>
                    <li class="documents-org-list__item">
                        <img src="./img/documents-org-icon.svg" alt="documents-org-icon">
                        <p class="documents-org-list__text">Учетная политика</p>
                    </li>
                    <li class="documents-org-list__item">
                        <img src="./img/documents-org-icon.svg" alt="documents-org-icon">
                        <p class="documents-org-list__text">Информация о среднемесячной заработной плате</p>
                    </li>
                    <li class="documents-org-list__item">
                        <img src="./img/documents-org-icon.svg" alt="documents-org-icon">
                        <p class="documents-org-list__text">Государственное задание</p>
                    </li>
                    <li class="documents-org-list__item">
                        <img src="./img/documents-org-icon.svg" alt="documents-org-icon">
                        <p class="documents-org-list__text">План мероприятий («Дорожная карта») антикоррупционного форума</p>
                    </li>
                    <li class="documents-org-list__item">
                        <img src="./img/documents-org-icon.svg" alt="documents-org-icon">
                        <p class="documents-org-list__text">Приказ «О внесении изменений в состав комиссии по противодействию коррупции»</p>
                    </li>
                    <li class="documents-org-list__item">
                        <img src="./img/documents-org-icon.svg" alt="documents-org-icon">
                        <p class="documents-org-list__text">План работы по противодействию коррупции в ГАУ СО ДИВС на 2022 год</p>
                    </li>
                </ul>
                <ul class="documents-org-list">
                    <li class="documents-org-list__item">
                        <img src="./img/documents-org-icon.svg" alt="documents-org-icon">
                        <p class="documents-org-list__text">Приказ об исполнении требований законодательства о противодействии коррупции</p>
                    </li>
                    <li class="documents-org-list__item">
                        <img src="./img/documents-org-icon.svg" alt="documents-org-icon">
                        <p class="documents-org-list__text">Положение об антикоррупционной политике в ГАУ СО ДИВС</p>
                    </li>
                    <li class="documents-org-list__item">
                        <img src="./img/documents-org-icon.svg" alt="documents-org-icon">
                        <p class="documents-org-list__text">Кодекс этики служебного поведения работников ГАУ СО ДИВС</p>
                    </li>
                    <li class="documents-org-list__item">
                        <img src="./img/documents-org-icon.svg" alt="documents-org-icon">
                        <p class="documents-org-list__text">Положение информирования работниками ГАУ СО ДИВС 
                            работодателя о случаях склонения их к совершению коррупционных нарушений и порядке рассмотрений таких сообщений</p>
                    </li>
                    <li class="documents-org-list__item">
                        <img src="./img/documents-org-icon.svg" alt="documents-org-icon">
                        <p class="documents-org-list__text">Положение о конфликте интересов работников ГАУ СО ДИВС</p>
                    </li>
                    <li class="documents-org-list__item">
                        <img src="./img/documents-org-icon.svg" alt="documents-org-icon">
                        <p class="documents-org-list__text">Правила обмена деловыми подарками и знаками делового гостеприимства в ГАУ СО ДИВС</p>
                    </li>
                    <li class="documents-org-list__item">
                        <img src="./img/documents-org-icon.svg" alt="documents-org-icon">
                        <p class="documents-org-list__text">Бесплатная юридическая помощь</p>
                    </li>
                    <li class="documents-org-list__item">
                        <a class="documents-org-list__link" href="#">сайт</a>
                        <p class="documents-org-list__text">Политика обработки персональных данных</p>
                    </li>
                    <li class="documents-org-list__item">
                        <img src="./img/documents-org-icon.svg" alt="documents-org-icon">
                        <p class="documents-org-list__text">Порядок хранения, использования и передачи персональных данных сотрудников ГАУ СО ДИВС</p>
                    </li>
                    <li class="documents-org-list__item">
                        <img src="./img/documents-org-icon.svg" alt="documents-org-icon">
                        <p class="documents-org-list__text">Положение по организации и проведению работ по обеспечению безопасности запрашиваемой информации, не содержащей сведения, составляющие государственную тайну, при ее обработке в информационных системах ГАУ СО ДИВС</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>