<section class="facts page-divs--facts">
    <div class="_container">
        <div class="facts__inner">
            <ul class="breadcrumbs">
                <li class="breadcrumbs__item">
                    <a href="/" class="breadcrumbs__link">Главная</a>
                </li>
                <li class="breadcrumbs__item">
                    <a class="breadcrumbs__link">О нас</a>
                </li>
            </ul>
            <h1 class="facts__title"><span>В ДИ</span>ВСЕ ФАКТЫ</h1>
        </div>
    </div>
</section>