<section class="facts-events">
    <div class="_container">
        <div class="facts-events__inner">
            <img class="facts-events__bg" src="./img/facts-events-bg.png" alt="">
            <h1 class="facts-events__title">ПРОВЕДЕННЫЕ МЕРОПРИЯТИЯ</h1>
            <p class="facts-events__text">За прошедшие годы ДИВС приобрел колоссальный опыт в проведении всевозможных мероприятий: от детских соревнований до Чемпионатов мирового уровня, от корпоративных мероприятий до крупномасштабных выставок. Возможности трансформации площадки поражают воображение, а список проведенных мероприятий огромен, вот лишь малая часть из прошедших в ДИВСе спортивных и культурных событий:</p>
            <div class="facts-blocks">
                <div class="facts-block">
                    <img src="./img/facts-block-photo.png" alt="facts-block-photo">
                    <div class="facts-block__content">
                        <h3 class="facts-block__name">Спортивные события</h3>
                        <ul class="facts-block__list">
                            <li class="facts-block__item">
                                <img src="./img/facts-block-mark.svg" alt="mark">
                                <p class="facts-block__text">Финал Кубка УЕФА по мини-футболу</p>
                            </li>
                            <li class="facts-block__item">
                                <img src="./img/facts-block-mark.svg" alt="mark">
                                <p class="facts-block__text">Международные турниры по волейболу среди женских команд на Кубок Первого Президента России Б.Н. Ельцина</p>
                            </li>
                            <li class="facts-block__item">
                                <img src="./img/facts-block-mark.svg" alt="mark">
                                <p class="facts-block__text">Международные турниры по профессиональному боксу и ММА, организуемые промоутерской компанией «RCC Boxing Promotions»</p>
                            </li>
                            <li class="facts-block__item">
                                <img src="./img/facts-block-mark.svg" alt="mark">
                                <p class="facts-block__text">Международные турниры по спортивным бальным танцам «Кубок ЕВРОПА-АЗИЯ»</p>
                            </li>
                            <li class="facts-block__item">
                                <img src="./img/facts-block-mark.svg" alt="mark">
                                <p class="facts-block__text">«Финал восьми» женской Евролиги по баскетболу</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="facts-block">
                    <img src="./img/facts-block-photo-2.png" alt="facts-block-photo">
                    <div class="facts-block__content">
                        <h3 class="facts-block__name">Культурно-массовые мероприятия</h3>
                        <ul class="facts-block__list">
                            <li class="facts-block__item">
                                <img src="./img/facts-block-mark.svg" alt="mark">
                                <p class="facts-block__text">Музыкальный фестиваль «Уральская Ночь Музыки»</p>
                            </li>
                            <li class="facts-block__item">
                                <img src="./img/facts-block-mark.svg" alt="mark">
                                <p class="facts-block__text">Молодежный экстрим-фест «Все реально!»</p>
                            </li>
                            <li class="facts-block__item">
                                <img src="./img/facts-block-mark.svg" alt="mark">
                                <p class="facts-block__text">Шоу «Цирк дю Солей Рус»</p>
                            </li>
                            <li class="facts-block__item">
                                <img src="./img/facts-block-mark.svg" alt="mark">
                                <p class="facts-block__text">Концерты звезд мировой и отечественной эстрады (Мирей Матье, Супердискотека 90-х, BLUE MAN GROUP, шоу «Песни», HURTS, БИ-2)</p>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>