<section class="facts-awards">
    <div class="_container">
        <div class="facts-awards__inner">
            <p class="facts-awards__head _sub-title">В ДИ<span>ВСЕ ДОСТИЖЕНИЯ</span></p>
            <div class="facts-awards__caption">
                <h1 class="facts-awards-name _title">Награды</h1>
                <p class="facts-awards__description">Дворец игровых видов спорта «Уралочка» является членом Ассоциации предприятий спортивной индустрии России. Лауреат всероссийской премии SportsFacilities в номинации «Лучший многофункциональный спортивный объект».</p>
            </div>
            <ul class="facts-awards__list">
                <li class="facts-awards__item">
                    <img src="./img/facts-awards-photo.png" alt="facts-awards-photo">
                    <p class="facts-awards__text">Победитель конкурса «Спортивная индустрия России» в номинации «Лучшее спортивное сооружение» с 2004 по 2006 год.</p>
                </li>
                <li class="facts-awards__item">
                    <img src="./img/facts-awards-photo.png" alt="facts-awards-photo">
                    <p class="facts-awards__text">Обладатель приза «Арка Европы» в номинации «За высочайший уровень качества услуг и значительные экономические результаты».</p>
                </li>
                <li class="facts-awards__item">
                    <img src="./img/facts-awards-photo.png" alt="facts-awards-photo">
                    <p class="facts-awards__text">Удостоен звания «Золотая премия за качество и деловую репутацию» в 2011 году.</p>
                </li>
                <li class="facts-awards__item">
                    <img src="./img/facts-awards-photo.png" alt="facts-awards-photo">
                    <p class="facts-awards__text">Обладатель Европейской премии «За успешную деятельность» («European award for best practices»).</p>
                </li>
                <li class="facts-awards__item">
                    <img src="./img/facts-awards-photo.png" alt="facts-awards-photo">
                    <p class="facts-awards__text">Награжден за превосходное качество и идеальное исполнение «Global award for perfection quality & ideal performance» в 2012 году.</p>
                </li>
                <li class="facts-awards__item">
                    <img src="./img/facts-awards-photo.png" alt="facts-awards-photo">
                    <p class="facts-awards__text">Отмечен грамотой Министерства спорта «За заслуги в сфере физической культуры, спорта 
                        и плодотворный добросовестный труд» в 2014 году.</p>
                </li>
                <li class="facts-awards__item">
                    <img src="./img/facts-awards-photo.png" alt="facts-awards-photo">
                    <p class="facts-awards__text">Обладатель премии «Россия и спорт» 
                        в номинации «Лучший спортивный объект года» в 2017 году.</p>
                </li>
                <li class="facts-awards__item">
                    <img src="./img/facts-awards-photo.png" alt="facts-awards-photo">
                    <p class="facts-awards__text">Обладатель всероссийской премии SportFacilities в номинации «Лучший многофункциональный спортивный объект» в 2019 и 2020 годах</p>
                </li>
                <li class="facts-awards__item">
                    <img src="./img/facts-awards-photo.png" alt="facts-awards-photo">
                    <p class="facts-awards__text">Обладатель Сертификата соответствия «100 лучших предприятий России» в 2018 
                        и в 2020 году.</p>
                </li>
            </ul>
        </div>
    </div>
</section>