<section class="facts-letters">
    <div class="_container">
        <img src="./img/facts-letters-bg.png" alt="facts-letters-bg" class="facts-letters__bg _desktop"/>
        <img src="./img/facts-letters-bg-mobile.png" alt="facts-letters-bg-mobile" class="facts-letters__bg _mobile"/>
        <div class="facts-letters__inner">
            <div class="facts-letters__caption">
                <div class="facts-letters__info">
                    <p class="facts-letters__head">В ДИ<span>ВСЕ БЛАГОДАРОНОСТИ</span></p>
                    <h2 class="facts-letters-name">Благодарности</h2>
                </div>
            </div>
            <div class="letters-slider-wrapper">
                <ul class="letters-slider swiper-wrapper">
                    <li class="letters-slider__item swiper-slide">
                        <img src="./img/facts-letters-photo.png" alt="">
                        <h3 class="letters-slider__title">Gyu ipsum dolor sit amet, consectetur adipisicing </h3>
                    </li>
                    <li class="letters-slider__item swiper-slide">
                        <img src="./img/facts-letters-photo.png" alt="">
                        <h3 class="letters-slider__title">Gyu ipsum dolor sit amet, consectetur adipisicing </h3>
                    </li>
                    <li class="letters-slider__item swiper-slide">
                        <img src="./img/facts-letters-photo.png" alt="">
                        <h3 class="letters-slider__title">Gyu ipsum dolor sit amet, consectetur adipisicing </h3>
                    </li>
                    <li class="letters-slider__item swiper-slide">
                        <img src="./img/facts-letters-photo.png" alt="">
                        <h3 class="letters-slider__title">Gyu ipsum dolor sit amet, consectetur adipisicing </h3>
                    </li>
                    <li class="letters-slider__item swiper-slide">
                        <img src="./img/facts-letters-photo.png" alt="">
                        <h3 class="letters-slider__title">Gyu ipsum dolor sit amet, consectetur adipisicing </h3>
                    </li>
                    <li class="letters-slider__item swiper-slide">
                        <img src="./img/facts-letters-photo.png" alt="">
                        <h3 class="letters-slider__title">Gyu ipsum dolor sit amet, consectetur adipisicing </h3>
                    </li>
                </ul>
            </div>
            <div class="main-arena__pagination letters-pagination">
            </div>
        </div>
        <div class="main-arena__button">
            <button class="main-arena__prev letters-prev">
                <img src="./img/slider-arrow-prev.svg" alt="">
            </button>

            <button class="main-arena__next letters-next">
                <img src="./img/slider-arrow-next.svg" alt="">
            </button>
        </div>
    </div>
</section>