<section class="facts-admins">
    <div class="_container">
        <img src="./img/facts-admins-bg.png" alt="facts-admins-bg" class="facts-admins__bg _desktop" />
        <img src="./img/facts-admins-bg-mobile.png" alt="facts-admins-bg-mobile" class="facts-admins__bg _mobile" />
        <div class="facts-admins__inner">
            <div class="facts-admins__caption">
                <div class="facts-admins__info">
                    <p class="facts-admins__head _sub-title">В ДИ<span>ВСЕ РУКОВОДИТЕЛИ</span></p>
                    <h2 class="facts-admins-name _title">Администрация арены</h2>
                </div>
            </div>
            <ul class="admins-list">
                <li class="admins-list__item">
                    <img src="./img/facts-admins-photo-1.png" alt="facts-admins-photo">
                    <h2 class="admins-list__title">Константинов Сергей Сергеевич</h2>
                    <p class="admins-list__rang">Генеральный директор</p>
                    <a class="admins-list__button _button-no-fill" href="#">Связаться с директором</a>
                </li>
                <li class="admins-list__item">
                    <img src="./img/facts-admins-photo-2.png" alt="facts-admins-photo">
                    <h2 class="admins-list__title">Чурина Алена Александровна</h2>
                    <p class="admins-list__rang">Главный бухгалтер</p>
                    <a class="admins-list__button _button-no-fill" href="#">Связаться с бухгалтером</a>

                </li>
                <li class="admins-list__item">
                    <img src="./img/facts-admins-photo-3.png" alt="facts-admins-photo">
                    <h2 class="admins-list__title">Иванов Иван Иванович</h2>
                    <p class="admins-list__rang">Технический директор</p>
                    <a class="admins-list__button _button-no-fill" href="#">Связаться с директором</a>
                </li>
                <li class="admins-list__item">
                    <img src="./img/facts-admins-photo-1.png" alt="facts-admins-photo">
                    <h2 class="admins-list__title">Константинов Сергей Сергеевич</h2>
                    <p class="admins-list__rang">Генеральный директор</p>
                    <a class="admins-list__button _button-no-fill" href="#">Связаться с директором</a>
                </li>
                <li class="admins-list__item">
                    <img src="./img/facts-admins-photo-2.png" alt="facts-admins-photo">
                    <h2 class="admins-list__title">Чурина Алена Александровна</h2>
                    <p class="admins-list__rang">Главный бухгалтер</p>
                    <a class="admins-list__button _button-no-fill" href="#">Связаться с бухгалтером</a>

                </li>
                <li class="admins-list__item">
                    <img src="./img/facts-admins-photo-3.png" alt="facts-admins-photo">
                    <h2 class="admins-list__title">Иванов Иван Иванович</h2>
                    <p class="admins-list__rang">Технический директор</p>
                    <a class="admins-list__button _button-no-fill" href="#">Связаться с директором</a>
                </li>
            </ul>
        </div>
    </div>
</section>