<section class="facts-history">
    <div class="_container">
        <div class="facts-history__inner">
            <img class="facts-history__bg" src="./img/facts-history-bg.png" alt="">
            <h1 class="facts-history__title">НЕМНОГО ИСТОРИИ</h1>
            <p class="facts-history__text">Дворец игровых видов спорта <span>впервые принял посетителей 11 июня 2003</span> года на приуроченном к открытию турнире по волейболу на Кубок Первого Президента России Бориса Ельцина. Дворец игровых видов спорта, во многом, уникальная арена, построенная по оригинальному проекту австрийской компании «Э. Фурман Баугезельшафт МБХ» всего за два года, стал настоящей достопримечательностью центра города и прекрасно вписался в ландшафт набережной реки Исеть.</p>
            <p class="facts-history__text"><span>С момента закладки первого камня в основание будущего дворца (15 июня 2001 года)</span> до завершения строительства прошло всего два года.Здание построено по уникальному проекту, которому нет аналогов в России. Купол дворца представляет собой эллипс с осями 68 и 84 метра, высота всего здания - 29,2 м, высота зрительного зала — 21 м.</p>
            <div class="facts-history__photos">
                <img src="./img/facts-history-photo-1.png" alt="">
                <img src="./img/facts-history-photo-2.png" alt="">
            </div>
            <p class="facts-history__text">Функциональная направленность спортивного комплекса ориентирована на проведение матчей по паркетным видам спорта (волейбол, баскетбол, мини-футбол, индорхоккей и др.), а также соревнований в личных и командных первенствах (бокс, единоборства, спортивная и художественная гимнастика, спортивные танцы и др.). Кроме того, ДИВС успешно проводит на своих площадках и прилегающей территории культурно-массовые мероприятия (концерты, шоу, фестивали, выставки, ярмарки и др.).</p>
            <p class="facts-history__text"><span>В июле 2006 года была введена в эксплуатацию вторая очередь ДИВСа (блок «Б»),</span> в которой расположились тренировочные залы, гостиница, тренажерный зал, кафе, административный корпус. На одной из стен тренировочного зала был установлен современный скалодром «Вертикаль ДИВСа» высотой 15 метров.</p>
        </div>
    </div>
</section>