<section class="fitness-test">
    <img class="fitness-test__bg" src="./img/fitness-test-bg.png" alt="">
    <div class="_container">
        <div class="fitness-test__inner">
            <p class="fitness-test__head _sub-title">В ДИ<span>ВСЕ ТЕСТ-ДРАЙВ</span></p>
            <h1 class="fitness-test__title _title">Запишись на бесплатный тест-драйв</h1>
            <p class="fitness-test__description">
                Бесплатная полноценная тренировка, тур по клубу с  менеджером 
                и знакомство с атмосферой ДИВС
            </p>
            <a class="fitness-test__button _button" href="#">Записаться</a>
        </div>
    </div>
</section>