<section class="fitnes-drive">
    <div class="_container">
        <div class="advantage__inner">
            <p class="advantage__head">В ДИ<span>ВСЕ НА ДРАЙВЕ!</span></p>
            <div class="advantage__caption">
                <h1 class="advantage-name">Выбери свою клубную карту</h1>
            </div>
            <div class="advantage__items">
                <img src="./img/advantage-block.png" alt="">
                <ul class="advantage__list">
                    <li class="advantage__item">
                        <div class="advantage__content">
                            <span class="fitness-drive__number">7</span>
                            <h5 class="advantage__title">Бесплатный фитнес</h5>
                            <p class="advantage__text">Для всех сотрудников сети</p>
                        </div>
                    </li>
                    <li class="advantage__item">
                        <div class="advantage__content">
                            <span class="fitness-drive__number">60</span>
                            <h5 class="advantage__title">Молодая команда</h5>
                            <p class="advantage__text">Средний возраст сотрудников 24-27 лет</p>
                        </div>
                    </li>
                    <li class="advantage__item">
                        <div class="advantage__content">
                            <span class="fitness-drive__number">150</span>
                            <h5 class="advantage__title">Карьерный рост</h5>
                            <p class="advantage__text">Мы поможем тебе добиться многого</p>
                        </div>
                    </li>
                    <li class="advantage__item">
                        <div class="advantage__content">
                            <span class="fitness-drive__number">50000</span>
                            <h5 class="advantage__title">Стабильная зарплата</h5>
                            <p class="advantage__text">У нас счастливые сотрудники</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="format-block">
                <img src="./img/fitness-drive-photo.png" alt="">
                <div >
                    <h4 class="format-block__title">ВЫБЕРИ СВОЙ ФОРМАТ</h4>
                    <p>Каждый абонемент включает количество дней и визитов на спортивную площадку «Фитнес-Арены».</p>
                    <p>Каким будет твой фитнес — решаешь ты. Мы приготовили комфортный фитнес-тариф для каждого</p>
                    <a class="format-block__button _button" href="#">Выбрать карту</a>
                </div>
            </div>
        </div>
    </div>
</section>