<section class="fitness-about">
    <img class="fitness-about__bg" src="./img/concert-botttom-bg.png" alt="">
    <div class="_container">
        <ul class="fitness-about__list _category-list">
            <li class="category-list__item">
                <a class="category-list__link _button-no-fill" href="#">Купить абонемент</a>
            </li>
            <li class="category-list__item">
                <a class="category-list__link _button-no-fill" href="#">Хочу гостевой визит</a>
            </li>
        </ul>

        <div class="fitness-about__inner">
            <div class="fitness-about__wrapper">
                <img class="fitness-about__swab" src="./img/swab.svg" alt="swab">
                <div class="fitness-about__photos">
                    <img src="./img/about-us-1.jpg" alt="" />
                    <img src="./img/about-us-2.jpg" alt="" />
                    <img src="./img/about-us-3.jpg" alt="" />
                </div>
                <div class="fitness-about__content">
                    <p class="fitness-about__head _sub-title">В ДИ<span>ВСЕ НА ФИТНЕС!</span></p>
                    <h1 class="fitness-about__title _title">Фитнес-арена</h1>
                    <p class="fitness-about__description">
                        Введена в эксплуатацию в начале января 2019 года. На площадке проходят тренировки профессиональных команд, таких как БК «УГМК», ВК «Уралочка», Центр Паралимпийской и Сурдлимпийской подготовки сборных команд Свердловской области «Родник».В III квартале 2020 года была пересмотрена концепция фитнес-центра. В процессе реновации — базовый тренажёрный зал и дополнительные помещения свободного назначения зонированы и оснащены профессиональным оборудованием премиум-класса линейки Life fitness для создания комплексного подхода, создающего мотивирующую среду как для гостей центра, так и для профессиональных спортсменов с их динамичным образом жизни. ДИВС Fitness-Arena — отличное фитнес-пространство в самом центре города!    
                    </p>
                    <ul class="statistics">
                        <li class="statistics__item">
                            <span>516 м²</span>
                            тренажерный зал
                        </li>
                        <li class="statistics__item">
                            <span>75 м²</span>
                            зона тренинга
                        </li>
                        <li class="statistics__item">
                            <span>36 м²</span>
                            студия сайкла
                        </li>
                        <li class="statistics__item">
                            <span>220 м²</span>
                            зона единоборств
                        </li>
                    </ul>
                </div>
            </div>
            <div class="fitness-about__video">
                <a href="https://www.youtube.com/watch?v=Wudyb7jhsKU&ab_channel=ColdSmoothie" target="_blank">
                    <img src="./img/fitness-about-video.png" alt="">
                </a>
            </div>
        </div>
    </div>
</section>