<section class="fitness-main page-divs--fitness-main">
    <div class="_container">
        <div class="career__inner">
            <ul class="breadcrumbs">
                <li class="breadcrumbs__item">
                    <a href="/index.html" class="breadcrumbs__link">Главная</a>
                </li>
                <li class="breadcrumbs__item">
                    <a class="breadcrumbs__link">Fitness-Arena</a>
                </li>
            </ul>
            <h1 class="fitness-main__title _main-page__title">Fitness-Arena</h1>
            <p class="fitness-main__description _main-page__description">Современный фитнес в самом сердце города</p>
            <div class="fitness-main__question">
                <p>Ответим на все ваши вопросы –</p>
                <a href="tel:+73433593773">+7 (343) 359-37-73</a>
            </div>
        </div>
    </div>
</section>