<section class="fitness-gyms">
    <div class="_container">
        <img src="./img/fitness-gyms-bg.webp" alt="gyms-bg" class="fitness-gyms__bg">
        <div class="fitness-gyms__inner">
            <div class="fitness-gyms__caption">
                <div class="fitness-gyms__info">
                    <p class="fitness-gyms__head _sub-title">В ДИ<span>ВСЕ ЗАЛЫ</span></p>
                    <a class="fitness-gyms__button _button-no-fill" href="#">Посмотреть расписание</a>
                </div>
                <h1 class="fitness-gyms__name gyms-name _title">Лучший день для фитнеса – сегодня!</h1>
            </div>

            <ul class="gyms-list">
                <li class="gyms-list__item">
                    <img class="gyms-list__image" src="./img/arena-photo-1.jpg" alt="">
                    <h2 class="gyms-list__title _title-description">Тренажерный зал</h2>
                    <a href="" class="gyms-list__button _button-no-fill">Узнать подробнее</a>
                </li>
                <li class="gyms-list__item">
                    <img class="gyms-list__image" src="./img/arena-photo-2.jpg" alt="">
                    <h2 class="gyms-list__title _title-description">Зона функционального тренинга</h2>
                    <a href="" class="gyms-list__button _button-no-fill">Узнать подробнее</a>
                </li>
                <li class="gyms-list__item">
                    <img class="gyms-list__image" src="./img/arena-photo-3.jpg" alt="">
                    <h2 class="gyms-list__title _title-description">Студия сайкла</h2>
                    <a href="" class="gyms-list__button _button-no-fill">Узнать подробнее</a>
                </li>
                <li class="gyms-list__item">
                    <img class="gyms-list__image" src="./img/arena-photo-4.jpg" alt="">
                    <h2 class="gyms-list__title _title-description">Залы групповых программ и единоборств</h2>
                    <a href="" class="gyms-list__button _button-no-fill">Узнать подробнее</a>
                </li>
                <li class="gyms-list__item">
                    <img class="gyms-list__image" src="./img/arena-photo-3.jpg" alt="">
                    <h2 class="gyms-list__title _title-description">Студия сайкла</h2>
                    <a href="" class="gyms-list__button _button-no-fill">Узнать подробнее</a>
                </li>
                <li class="gyms-list__item">
                    <img class="gyms-list__image" src="./img/arena-photo-4.jpg" alt="">
                    <h2 class="gyms-list__title _title-description">Залы групповых программ и единоборств</h2>
                    <a href="" class="gyms-list__button _button-no-fill">Узнать подробнее</a>
                </li>
            </ul>
        </div>
    </div>
</section>