<section class="fitness-reviews">
    <div class="_container">
        <p class="fitness-reviews__head _sub-title">В ДИ<span>ВСЕ ТЕСТ-ДРАЙВ</span></p>
        <h1 class="fitness-reviews__title _title">Запишись на бесплатный тест-драйв</h1>

        <div class="reviews">
            <div class="swiper reviews__slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide main-arena__item reviews-item">
                        <div class="reviews-item__content">
                            <div class="reviews-item__top">
                                <div class="reviews-item__about">
                                    <img class="review-logo" src="./img/review-logo.png" alt="reviews-logo">
                                    <div class="reviews-item__stars">
                                        <p>Олеся Ливанова</p>
                                        <img src="./img/review-star.svg" alt="review-star">
                                        <img src="./img/review-star.svg" alt="review-star">
                                        <img src="./img/review-star.svg" alt="review-star">
                                        <img src="./img/review-star.svg" alt="review-star">
                                        <img src="./img/review-star.svg" alt="review-star">
                                    </div>
                                </div>
                                <img class="review-quote" src="./img/review-quote.svg" alt="review-quote">
                            </div>
                            <p class="reviews-item__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <div class="swiper-slide main-arena__item reviews-item">
                        <div class="reviews-item__content">
                            <div class="reviews-item__top">
                                <div class="reviews-item__about">
                                    <img class="review-logo" src="./img/review-logo.png" alt="reviews-logo">
                                    <div class="reviews-item__stars">
                                        <p>Олеся Ливанова</p>
                                        <img src="./img/review-star.svg" alt="review-star">
                                        <img src="./img/review-star.svg" alt="review-star">
                                        <img src="./img/review-star.svg" alt="review-star">
                                        <img src="./img/review-star.svg" alt="review-star">
                                        <img src="./img/review-star.svg" alt="review-star">
                                    </div>
                                </div>
                                <img class="review-quote" src="./img/review-quote.svg" alt="review-quote">
                            </div>
                            <p class="reviews-item__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>
                <div class="main-arena__button">
                    <button class="fitness-reviews__prev main-arena__prev">
                        <img src="./img/slider-arrow-prev.svg" alt="">
                    </button>

                    <button class="fitness-reviews__next main-arena__next">
                        <img src="./img/slider-arrow-next.svg" alt="">
                    </button>
                </div>
                <div class="main-arena__pagination"></div>
            </div>
        </div>
    </div>
</section>