<section class="gyms">
    <div class="_container">
        <img src="./img/arena-bg.webp" alt="gyms-bg" class="gyms__bg">
        <div class="gyms__inner">
            <div class="gyms__caption">
                <a class="gyms__button _button" href="#">Узнать подробнее</a>
                <div class="gyms__info">
                    <p class="gyms__head _sub-title">В ДИ<span>ВСЕ НА ФИТНЕС!</span></p>
                    <h1 class="gyms-name _title">Фитнес-арена</h1>
                </div>
            </div>

            <ul class="gyms-list">
                <li class="gyms-list__item">
                    <img class="gyms-list__image" src="./img/arena-photo-1.jpg" alt="">
                    <h2 class="gyms-list__title _title-description">Тренажерный зал</h2>
                    <a href="" class="gyms-list__button _button-no-fill">Узнать подробнее</a>
                </li>
                <li class="gyms-list__item">
                    <img class="gyms-list__image" src="./img/arena-photo-2.jpg" alt="">
                    <h2 class="gyms-list__title _title-description">Зона функционального тренинга</h2>
                    <a href="" class="gyms-list__button _button-no-fill">Узнать подробнее</a>
                </li>
                <li class="gyms-list__item">
                    <img class="gyms-list__image" src="./img/arena-photo-3.jpg" alt="">
                    <h2 class="gyms-list__title _title-description">Студия сайкла</h2>
                    <a href="" class="gyms-list__button _button-no-fill">Узнать подробнее</a>
                </li>
                <li class="gyms-list__item">
                    <img class="gyms-list__image" src="./img/arena-photo-4.jpg" alt="">
                    <h2 class="gyms-list__title _title-description">Залы групповых программ и единоборств</h2>
                    <a href="" class="gyms-list__button _button-no-fill">Узнать подробнее</a>
                </li>
            </ul>
        </div>
    </div>
</section>