<section class="career page-divs--gyms-main">
    <div class="_container">
        <div class="career__inner">
            <ul class="breadcrumbs">
                <li class="breadcrumbs__item">
                    <a href="" class="breadcrumbs__link">Главная</a>
                </li>
                <li class="breadcrumbs__item">
                    <a class="breadcrumbs__link">Тренировочные залы</a>
                </li>
            </ul>
            <h1 class="career__title gyms-main-title">Тренировочные залы</h1>
            <p class="career__description arena-main-description">
                Самый большой зал в Урало-Сибирском регионе, его площадь - 1720 м²
            </p>
        </div>
    </div>
</section>