<section class="gyms-dance">
    <div class="_container">
        <div class="gyms-workout__inner">
            <p class="gyms-workout__head _title-description _text-center">В ДИ<span>ВСЕ ТАНЦЫ!</span></p>
            <h1 class="arena-events__title _title _text-center">Зал хореографии</h1>
            <div class="gyms-workout__content">
                <img class="gym-photo" src="./img/gyms-dance-photo.png" alt="">
                <div class="gyms-workout__features">
                    <p class="gyms-dance__description">Зал хореографии располагается на 5- м этаже тренировочного комплекса. Подходит для занятий художественной гимнастикой, хореографией, фитнесом..</p>
                    <div class="gyms-workout__statistic">
                        <span>110 м²</span>
                        <p>общая площадь</p>
                    </div>
                    <div class="mini-bg">
                        <img src="./img/mini-bg.png" alt="">
                        <p class="mini-bg__text">ОСНАЩЕНИЕ</p>
                    </div>
                    <ul class="info">
                        <li class="info__item">
                            <img src="./img/mark-icon.svg" alt="mark-icon">
                            <p class="info__text">Спортивное напольное покрытие</p>
                        </li>
                        <li class="info__item">
                            <img src="./img/mark-icon.svg" alt="mark-icon">
                            <p class="info__text">Гимнастическое оборудование</p>
                        </li>
                        <li class="info__item">
                            <img src="./img/mark-icon.svg" alt="mark-icon">
                            <p class="info__text">Раздевалки</p>
                        </li>
                    </ul>
                    <div class="mini-bg">
                        <img src="./img/mini-bg.png" alt="">
                        <p class="mini-bg__text">ФОРМАТ</p>
                    </div>
                    <ul class="info">
                        <li class="info__item">
                            <img src="./img/mark-icon.svg" alt="mark-icon">
                            <p class="info__text">Тренировочные занятия</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="gyms-dance__slider">
                <div class="content">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide main-arena__item">
                            <img src="./img/main-arena-slider-1.png" alt="main-arena-slider">
                        </div>
                        <div class="swiper-slide main-arena__item">
                            <img src="./img/main-arena-slider-2.png" alt="main-arena-slider">
                        </div>
                        <div class="swiper-slide main-arena__item">
                            <img src="./img/main-arena-slider-3.png" alt="main-arena-slider">
                        </div>
                        <div class="swiper-slide main-arena__item">
                            <img src="./img/main-arena-slider-2.png" alt="main-arena-slider">
                        </div>
                        <div class="swiper-slide main-arena__item">
                            <img src="./img/main-arena-slider-1.png" alt="main-arena-slider">
                        </div>
                        <div class="swiper-slide main-arena__item">
                            <img src="./img/main-arena-slider-2.png" alt="main-arena-slider">
                        </div>
                        <div class="swiper-slide main-arena__item">
                            <img src="./img/main-arena-slider-3.png" alt="main-arena-slider">
                        </div>
                        <div class="swiper-slide main-arena__item">
                            <img src="./img/main-arena-slider-2.png" alt="main-arena-slider">
                        </div>
                    </div>
                    <div class="main-arena__button">
                        <button class="gyms-dance__prev">
                            <img src="./img/slider-arrow-prev.svg" alt="">
                        </button>
    
                        <button class="gyms-dance__next">
                            <img src="./img/slider-arrow-next.svg" alt="">
                        </button>
                    </div>
                </div>
                <div class="gyms-dance__pagination">
            
                </div>
            </div>
            <div class="question">
                <div class="question__info">
                    <img src="./img/mail-icon.svg" alt="main-icon">
                    <p class="question__text _title-description">
                        По вопросам арены главной спортивной арены 
                        обращайтесь по электронной почете – <a href="mailto:yaneustroeva@yandex.ru">zav_fitness@divsport.ru</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>