<section class="gyms-physical">
    <div class="_container">
        <div class="gyms-physical__inner">
            <div class="gyms-physical__content">
                <img class="gyms-physical__bg" src="./img/main-arena-bg.png" alt="gyms-physical-bg">
                <div class="gyms-physical__features">
                    <p class="head _title-description">В ДИ<span>ВСЕ НА ОФП!</span></p>
                    <h1 class="gyms-physical__title _title">Залы общей физической подготовки</h1>
                    <div class="gyms-workout__statistic">
                        <span>60 м² / 120 м²</span>
                        <p>общая площадь</p>
                    </div>
                    <p class="description">Залы общей физической подготовки расположены на 1- м этаже тренировочного комплекса. Подойдут для занятий фехтованием, гимнастикой.</p>
                    <div class="mini-bg">
                        <img src="./img/mini-bg.png" alt="">
                        <p class="mini-bg__text">ОСНАЩЕНИЕ</p>
                    </div>
                    <ul class="info">
                        <li class="info__item">
                            <img src="./img/mark-icon.svg" alt="mark-icon">
                            <p class="info__text">Гардероб</p>
                        </li>
                        <li class="info__item">
                            <img src="./img/mark-icon.svg" alt="mark-icon">
                            <p class="info__text">Раздевалки</p>
                        </li>
                        <li class="info__item">
                            <img src="./img/mark-icon.svg" alt="mark-icon">
                            <p class="info__text">Спортивное напольное покрытие</p>
                        </li>
                    </ul>
                    <div class="mini-bg">
                        <img src="./img/mini-bg.png" alt="">
                        <p class="mini-bg__text">ФОРМАТ</p>
                    </div>
                    <ul class="info">
                        <li class="info__item">
                            <img src="./img/mark-icon.svg" alt="mark-icon">
                            <p class="info__text">Звуковое оборудование</p>
                        </li>
                    </ul>
                </div>
                <img class="gym-photo" src="./img/gyms-physical-photo.png" alt="">
            </div>
            <div class="swiper main-arena__slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide main-arena__item">
                        <img src="./img/main-arena-slider-1.png" alt="main-arena-slider">
                    </div>
                    <div class="swiper-slide main-arena__item">
                        <img src="./img/main-arena-slider-2.png" alt="main-arena-slider">
                    </div>
                    <div class="swiper-slide main-arena__item">
                        <img src="./img/main-arena-slider-3.png" alt="main-arena-slider">
                    </div>
                    <div class="swiper-slide main-arena__item">
                        <img src="./img/main-arena-slider-2.png" alt="main-arena-slider">
                    </div>
                </div>
                <div class="main-arena__button">
                    <button class="main-arena__prev">
                        <img src="./img/slider-arrow-prev.svg" alt="">
                    </button>

                    <button class="main-arena__next">
                        <img src="./img/slider-arrow-next.svg" alt="">
                    </button>
                </div>
                <div class="main-arena__pagination">
            
                </div>
            </div>
            <div class="question">
                <div class="question__info">
                    <img src="./img/mail-icon.svg" alt="main-icon">
                    <p class="question__text _title-description">
                        По вопросам арены главной спортивной арены 
                        обращайтесь по электронной почете – <a href="mail:yaneustroeva@yandex.ru">yaneustroeva@yandex.ru</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>