<section class="hotel">
    <div class="_container">
        <div class="hotel__inner">
        <div class="hotel__info hotel__info-mobile">
            <p class="hotel__head">В ДИ<span>ВСЕ ОТДЫХАТЬ!</span></p>
            <h2 class="hotel__title">DIVS-Hotel</h2>
        </div>
        <img class="hotel__swab" src="./img/swab.svg" alt="swab">
            <div class="hotel__content">
                <div class="hotel__photos">
                    <img src="./img/hotel-1.png" alt="" />
                    <img src="./img/hotel-2.png" alt="" />
                    <img src="./img/hotel-3.png" alt="" />
                </div>
                <div class="hotel__info">
                    <p class="hotel__head hotel__desk">В ДИ<span>ВСЕ ОТДЫХАТЬ!</span></p>
                    <h2 class="hotel__title hotel__desk">DIVS-Hotel</h2>
                    <p class="hotel__description">
                        Номерной фонд гостиницы "ДИВС" включает 27 гостевых номеров категорий Эконом, Стандарт (с балконом и без)и Апартаменты "ЛЮКС" с панорамным видом на набережную р. Исеть и центр города и собственной террасой.DIVS Hotel расположен в историческом центре Екатеринбурга, в шаговой доступности от деловых, культурных, развлекательных объектов, достопримечательностей и музеев. Номера предназначены как для индивидуальных путешественников, семейного отдыха, так и для деловых туристов.
                    </p>
                    <ul class="statistics">
                        <li class="statistics__item">
                            <span>24/7</span>
                            <p>обслуживание в отеле</p>
                        </li>
                        <li class="statistics__item">
                            <span>27</span>
                            <p>гостевых номеров</p>
                        </li>
                        <li class="statistics__item">
                            <span>25</span>
                            <p>основных мест</p>
                        </li>
                        <li class="statistics__item">
                            <span>35</span>
                            <p>дополнительных мест</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="hotel-slider-full">
                <button class="hotel-prev">
                    <img src="./img/slider-arrow-prev.svg" alt="">
                </button>
                <div class="hotel-slider-wrapper">
                    <ul class="hotel-slider swiper-wrapper">
                        <li class="hotel-slider__item swiper-slide">
                            <img src="./img/hotel-slider-1.png" alt="">
                            <h2 class="hotel-slider__title _description">Номер “Эконом”</h2>
                            <button class="hotel-slider__button _button-no-fill">Узнать подробнее</button>
                        </li>
                        <li class="hotel-slider__item swiper-slide">
                            <img src="./img/hotel-slider-2.png" alt="">
                            <h2 class="hotel-slider__title _description">Номер “Эконом+”</h2>
                            <button class="hotel-slider__button _button-no-fill">Узнать подробнее</button>
                        </li>
                        <li class="hotel-slider__item swiper-slide">
                            <img src="./img/hotel-slider-3.png" alt="">
                            <h2 class="hotel-slider__title _description">Номер “Стандарт”</h2>
                            <button class="hotel-slider__button _button-no-fill">Узнать подробнее</button>
                        </li>
                        <li class="hotel-slider__item swiper-slide">
                            <img src="./img/hotel-slider-4.png" alt="">
                            <h2 class="hotel-slider__title _description">Номер “Люкс”</h2>
                            <button class="hotel-slider__button _button-no-fill">Узнать подробнее</button>
                        </li>
                        <li class="hotel-slider__item swiper-slide">
                            <img src="./img/hotel-slider-1.png" alt="">
                            <h2 class="hotel-slider__title _description">Номер “Эконом”</h2>
                            <button class="hotel-slider__button _button-no-fill">Узнать подробнее</button>
                        </li>
                        <li class="hotel-slider__item swiper-slide">
                            <img src="./img/hotel-slider-2.png" alt="">
                            <h2 class="hotel-slider__title _description">Номер “Эконом+”</h2>
                            <button class="hotel-slider__button _button-no-fill">Узнать подробнее</button>
                        </li>
                        <li class="hotel-slider__item swiper-slide">
                            <img src="./img/hotel-slider-3.png" alt="">
                            <h2 class="hotel-slider__title _description">Номер “Стандарт”</h2>
                            <button class="hotel-slider__button _button-no-fill">Узнать подробнее</button>
                        </li>
                        <li class="hotel-slider__item swiper-slide">
                            <img src="./img/hotel-slider-4.png" alt="">
                            <h2 class="hotel-slider__title _description">Номер “Люкс”</h2>
                            <button class="hotel-slider__button _button-no-fill">Узнать подробнее</button>
                        </li>
                    </ul>
                </div>
                <button class="hotel-next">
                    <img src="./img/slider-arrow-next.svg" alt="">
                </button>
            </div>
            <div class="hotel-slider-pagination"></div>
        </div>
    </div>
</section>