<section class="hotel-about">
    <div class="_container">
        <div class="facts-arena__inner">
            <div class="facts-arena__wrapper">
                <img class="facts-arena__swab" src="./img/swab.svg" alt="swab">
                <div class="facts-arena__photos">
                    <img src="./img/about-us-1.jpg" alt="" />
                    <img src="./img/about-us-2.jpg" alt="" />
                    <img src="./img/about-us-3.jpg" alt="" />
                </div>
                <div class="facts-arena__content">
                    <p class="facts-arena__head">В ДИ<span>ВСЕ ФАКТЫ</span></p>
                    <h1 class="facts-arena__title">Арена</h1>
                    <p class="facts-arena__description">Номерной фонд гостиницы "ДИВС" включает 27 гостевых номеров категорий Эконом, Стандарт (с балконом и без)и Апартаменты "ЛЮКС" с панорамным видом на набережную р. Исеть и центр города и собственной террасой.DIVS Hotel расположен в историческом центре Екатеринбурга, в шаговой доступности от деловых, культурных, развлекательных объектов, достопримечательностей и музеев. Номера предназначены как для индивидуальных путешественников, семейного отдыха, так и для деловых туристов.</p>
                    <ul class="statistics">
                        <li class="statistics__item">
                            <span>24/7</span>
                            различных мероприятий
                        </li>
                        <li class="statistics__item">
                            <span>27</span>
                            гостевых номеров
                        </li>
                        <li class="statistics__item">
                            <span>56</span>
                            основных мест
                        </li>
                        <li class="statistics__item">
                            <span>25</span>
                            дополнительных мест
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>