<section class="hotel-slider">
    <div class="_container">
        <div class="hotel-slider__inner">
            <p class="hotel-slider__head _text-center">В ДИ<span>ВСЕ ВЫГОДНО!</span></p>
            <h1 class="hotel-slider__title _title _text-center">Спецпредложения</h1>
            <p class="hotel-slider__text _text-center">для организованных групповых заездов</p>
            
            <div class="hotel-slider__slider-wrapper">
                <button class="hotel-slider-prev">
                    <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.46967 5.47162C0.176777 5.76452 0.176777 6.23939 0.46967 6.53228L5.24264 11.3053C5.53553 11.5981 6.01041 11.5981 6.3033 11.3053C6.59619 11.0124 6.59619 10.5375 6.3033 10.2446L2.06066 6.00195L6.3033 1.75931C6.59619 1.46642 6.59619 0.991545 6.3033 0.698652C6.01041 0.405759 5.53553 0.405759 5.24264 0.698652L0.46967 5.47162ZM2 5.25195H1V6.75195H2V5.25195Z" fill="#000"/>
                    </svg>  
                </button>
                <ul class="hotel-slider__slider">
                    <div class="swiper-wrapper">
                        <li class="hotel-slider__item swiper-slide">
                            <img class="hotel-slider__photo" src="./img/hotel-slider-photo-1.png" alt="">
                            <h3 class="hotel-slider__name">Получите свой 1 стимул при бронировании <span>от 5 - 10 номеров - скидка 10%</span></h3>
                            <p class="hotel-slider__description">Минимум 5 номеров и минимум 3 ночи проживания</p>
                            <img class="hotel-slider__icon" src="./img/hotel-slider-icon-1.svg" alt="hotel-slider-icon-1">
                        </li>
                        <li class="hotel-slider__item swiper-slide">
                            <img class="hotel-slider__photo" src="./img/hotel-slider-photo-2.png" alt="">
                            <h3 class="hotel-slider__name">Получите свой 1 стимул при бронировании <span>от 5 - 10 номеров - скидка 10%</span></h3>
                            <p class="hotel-slider__description">Минимум 5 номеров и минимум 3 ночи проживания</p>
                            <img class="hotel-slider__icon" src="./img/hotel-slider-icon-2.svg" alt="hotel-slider-icon-2">
                        </li>
                        <li class="hotel-slider__item swiper-slide">
                            <img class="hotel-slider__photo" src="./img/hotel-slider-photo-3.png" alt="">
                            <h3 class="hotel-slider__name">Получите свой 1 стимул при бронировании <span>от 5 - 10 номеров - скидка 10%</span></h3>
                            <p class="hotel-slider__description">Минимум 5 номеров и минимум 3 ночи проживания</p>
                            <img class="hotel-slider__icon" src="./img/hotel-slider-icon-3.svg" alt="hotel-slider-icon-3">
                        </li>
                        <li class="hotel-slider__item swiper-slide">
                            <img class="hotel-slider__photo" src="./img/hotel-slider-photo-1.png" alt="">
                            <h3 class="hotel-slider__name">Получите свой 1 стимул при бронировании <span>от 5 - 10 номеров - скидка 10%</span></h3>
                            <p class="hotel-slider__description">Минимум 5 номеров и минимум 3 ночи проживания</p>
                            <img class="hotel-slider__icon" src="./img/hotel-slider-icon-1.svg" alt="hotel-slider-icon-1">
                        </li>
                        <li class="hotel-slider__item swiper-slide">
                            <img class="hotel-slider__photo" src="./img/hotel-slider-photo-2.png" alt="">
                            <h3 class="hotel-slider__name">Получите свой 1 стимул при бронировании <span>от 5 - 10 номеров - скидка 10%</span></h3>
                            <p class="hotel-slider__description">Минимум 5 номеров и минимум 3 ночи проживания</p>
                            <img class="hotel-slider__icon" src="./img/hotel-slider-icon-2.svg" alt="hotel-slider-icon-2">
                        </li>
                        <li class="hotel-slider__item swiper-slide">
                            <img class="hotel-slider__photo" src="./img/hotel-slider-photo-3.png" alt="">
                            <h3 class="hotel-slider__name">Получите свой 1 стимул при бронировании <span>от 5 - 10 номеров - скидка 10%</span></h3>
                            <p class="hotel-slider__description">Минимум 5 номеров и минимум 3 ночи проживания</p>
                            <img class="hotel-slider__icon" src="./img/hotel-slider-icon-3.svg" alt="hotel-slider-icon-3">
                        </li>
                    </div>
                </ul>
                <button class="hotel-slider-next">
                    <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.83795 5.47162C7.13084 5.76452 7.13084 6.23939 6.83795 6.53228L2.06498 11.3053C1.77208 11.5981 1.29721 11.5981 1.00432 11.3053C0.711423 11.0124 0.711423 10.5375 1.00432 10.2446L5.24696 6.00195L1.00432 1.75931C0.711423 1.46642 0.711423 0.991546 1.00432 0.698652C1.29721 0.405759 1.77208 0.405759 2.06498 0.698652L6.83795 5.47162ZM5.30762 5.25195H6.30762V6.75195H5.30762V5.25195Z" fill="#000"/>
                    </svg>
                </button>
            </div>
            <div class="hotel-page-slider-pagination"></div>
        </div>
    </div>
</section>