<section class="hotel-rooms">
    <div class="_container">
        <div class="hotel-rooms__inner">
            <p class="hotel-rooms__head _text-center">В ДИ<span>ВСЕ ОТДЫХАТЬ!</span></p>
            <h1 class="hotel-rooms__title _title _text-center">Наши уютные номера</h1>
            
            <ul class="hotel-rooms__list _grid">
                <li class="hotel-rooms__item">
                    <img class="hotel-rooms__photo" src="./img/hotel-rooms-photo-1.png" alt="">
                    <h4>Номер “Эконом”</h4>
                    <div class="hotel-box">
                        <div class="hotel-box__item">
                            <img src="./img/hotel-rooms-icon-1.svg" alt="bed">
                            <p>2 спальных места</p>
                        </div>
                        <div class="hotel-box__item">
                            <img src="./img/hotel-rooms-icon-2.svg" alt="perimeter">
                            <p>20 м²</p>
                        </div>
                    </div>
                    <a class="_button-orange" href="">Узнать подробнее</a>
                </li>
                <li class="hotel-rooms__item">
                    <img class="hotel-rooms__photo" src="./img/hotel-rooms-photo-1.png" alt="">
                    <h4>Номер “Эконом”</h4>
                    <div class="hotel-box">
                        <div class="hotel-box__item">
                            <img src="./img/hotel-rooms-icon-1.svg" alt="bed">
                            <p>2 спальных места</p>
                        </div>
                        <div class="hotel-box__item">
                            <img src="./img/hotel-rooms-icon-2.svg" alt="perimeter">
                            <p>20 м²</p>
                        </div>
                    </div>
                    <a class="_button-orange" href="">Узнать подробнее</a>
                </li>
                <li class="hotel-rooms__item">
                    <img class="hotel-rooms__photo" src="./img/hotel-rooms-photo-1.png" alt="">
                    <h4>Номер “Эконом”</h4>
                    <div class="hotel-box">
                        <div class="hotel-box__item">
                            <img src="./img/hotel-rooms-icon-1.svg" alt="bed">
                            <p>2 спальных места</p>
                        </div>
                        <div class="hotel-box__item">
                            <img src="./img/hotel-rooms-icon-2.svg" alt="perimeter">
                            <p>20 м²</p>
                        </div>
                    </div>
                    <a class="_button-orange" href="">Узнать подробнее</a>
                </li>
                <li class="hotel-rooms__item">
                    <img class="hotel-rooms__photo" src="./img/hotel-rooms-photo-1.png" alt="">
                    <h4>Номер “Эконом”</h4>
                    <div class="hotel-box">
                        <div class="hotel-box__item">
                            <img src="./img/hotel-rooms-icon-1.svg" alt="bed">
                            <p>2 спальных места</p>
                        </div>
                        <div class="hotel-box__item">
                            <img src="./img/hotel-rooms-icon-2.svg" alt="perimeter">
                            <p>20 м²</p>
                        </div>
                    </div>
                    <a class="_button-orange" href="">Узнать подробнее</a>
                </li>
                <li class="hotel-rooms__item">
                    <img class="hotel-rooms__photo" src="./img/hotel-rooms-photo-1.png" alt="">
                    <h4>Номер “Эконом”</h4>
                    <div class="hotel-box">
                        <div class="hotel-box__item">
                            <img src="./img/hotel-rooms-icon-1.svg" alt="bed">
                            <p>2 спальных места</p>
                        </div>
                        <div class="hotel-box__item">
                            <img src="./img/hotel-rooms-icon-2.svg" alt="perimeter">
                            <p>20 м²</p>
                        </div>
                    </div>
                    <a class="_button-orange" href="">Узнать подробнее</a>
                </li>
                <li class="hotel-rooms__item">
                    <img class="hotel-rooms__photo" src="./img/hotel-rooms-photo-1.png" alt="">
                    <h4>Номер “Эконом”</h4>
                    <div class="hotel-box">
                        <div class="hotel-box__item">
                            <img src="./img/hotel-rooms-icon-1.svg" alt="bed">
                            <p>2 спальных места</p>
                        </div>
                        <div class="hotel-box__item">
                            <img src="./img/hotel-rooms-icon-2.svg" alt="perimeter">
                            <p>20 м²</p>
                        </div>
                    </div>
                    <a class="_button-orange" href="">Узнать подробнее</a>
                </li>
            </ul>
        </div>
    </div>
</section>