<section class="hotel-infrastruct">
    <img src="./img/hotel-infra-bg.webp" alt="hotel-infra-bg" class="hotel-infrastruct__bg">
    <div class="_container">
        <div class="fitness-gyms__inner">
            <div class="fitness-gyms__caption">
                <p class="fitness-gyms__head _sub-title">В ДИ<span>ВСЕ СПОРТ И ОТДЫХ</span></p>
                <h1 class="fitness-gyms__name gyms-name _title">Инфраструктура отеля</h1>
            </div>

            <ul class="gyms-list">
                <li class="gyms-list__item">
                    <img class="gyms-list__image" src="./img/hotel-infrastruct-photo-1.png" alt="">
                    <h2 class="gyms-list__title _title-description">Бизнес-пространства</h2>
                    <a href="" class="gyms-list__button _button-no-fill">Узнать подробнее</a>
                </li>
                <li class="gyms-list__item">
                    <img class="gyms-list__image" src="./img/hotel-infrastruct-photo-1.png" alt="">
                    <h2 class="gyms-list__title _title-description">Фитнес-арена</h2>
                    <a href="" class="gyms-list__button _button-no-fill">Узнать подробнее</a>
                </li>
            </ul>
        </div>
    </div>
</section>