<section class="hotel-main page-divs--hotel-main">
    <div class="_container">
        <ul class="breadcrumbs">
            <li class="breadcrumbs__item">
                <a href="/" class="breadcrumbs__link">Главная</a>
            </li>
            <li class="breadcrumbs__item">
                <a class="breadcrumbs__link">DIVS-отель</a>
            </li>
        </ul>
        <div class="hotel-main__inner">
            <h1 class="hotel-main__title _main-page__title">DIVS-отель</h1>
            <p class="hotel-main__description _main-page__description">Историческом центр Екатеринбурга</p>
            <p class="hotel-main__text">Отель откроется после реконструкции летом 2024 года</p>
        </div>
    </div>
</section>