<section class="hotel-slider">
    <div class="_container">
        <div class="news__inner">
            <p class="hotel-slider__head _text-center">В ДИ<span>ВСЕ ВЫГОДНО!</span></p>
            <h1 class="hotel-slider__title _text-center">Спецпредложения</h1>
            <p class="hotel-slider__text _text-center">для организованных групповых заездов</p>
            
            <ul class="hotel-slider__slider slider">
                <li class="slider__item">
                    <img src="./img/news-photo-1.jpg" alt="">
                    <h3 class="slider__title">Получите свой 1 стимул при бронировании <span>от 5 - 10 номеров - скидка 10%</span></h3>
                    <p class="slider__description">Минимум 5 номеров и минимум 3 ночи проживания</p>
                    <img src="./img/hotel-slider-icon-1.svg" alt="hotel-slider-icon-1">
                </li>
                <li class="slider__item">
                    <img src="./img/news-photo-2.jpg" alt="">
                    <h3 class="slider__title">Специальные скидки в честь 20-летия!</h3>
                    <p class="slider__description">Получите свой 1 стимул при бронировании <span>от 5 - 10 номеров - скидка 10%</span></p>
                    <img src="./img/hotel-slider-icon-2.svg" alt="hotel-slider-icon-2">
                </li>
                <li class="slider__item">
                    <img src="./img/news-photo-3.jpg" alt="">
                    <h3 class="slider__title">Акция - 9 месяцев фитнес-побед!</h3>
                    <p class="slider__description">Получите свой 1 стимул при бронировании <span>от 5 - 10 номеров - скидка 10%</span></p>
                    <img src="./img/hotel-slider-icon-3.svg" alt="hotel-slider-icon-3">
                </li>
            </ul>
        </div>
    </div>
</section>