<section class="hotel-main page-divs--hotel-main">
    <div class="_container">
        <div class="career__inner">
            <ul class="breadcrumbs">
                <li class="breadcrumbs__item">
                    <a href="/index.html" class="breadcrumbs__link">Главная</a>
                </li>
                <li class="breadcrumbs__item">
                    <a class="breadcrumbs__link">Fitness-Arena</a>
                </li>
            </ul>
            <h1 class="hotel-main__title _main-page__title">Fitness-Arena</h1>
            <p class="hotel-main__description _main-page__description">Современный фитнес в самом сердце города</p>
            <p class="hotel-main__text">Отель откроется после реконструкции летом 2024 года</p>
        </div>
    </div>
</section>