<section class="hotel-slider">
    <div class="_container">
        <div class="hotel-slider__inner">
            <p class="hotel-slider__head _text-center">В ДИ<span>ВСЕ ВЫГОДНО!</span></p>
            <h1 class="hotel-slider__title _title _text-center">Спецпредложения</h1>
            <p class="hotel-slider__text _text-center">для организованных групповых заездов</p>
            
            <ul class="hotel-slider__slider">
                <li class="hotel-slider__item">
                    <img class="hotel-slider__photo" src="./img/hotel-slider-photo-1.png" alt="">
                    <h3 class="hotel-slider__name">Получите свой 1 стимул при бронировании <span>от 5 - 10 номеров - скидка 10%</span></h3>
                    <p class="hotel-slider__description">Минимум 5 номеров и минимум 3 ночи проживания</p>
                    <img class="hotel-slider__icon" src="./img/hotel-slider-icon-1.svg" alt="hotel-slider-icon-1">
                </li>
                <li class="hotel-slider__item">
                    <img class="hotel-slider__photo" src="./img/hotel-slider-photo-2.png" alt="">
                    <h3 class="hotel-slider__name">Получите свой 1 стимул при бронировании <span>от 5 - 10 номеров - скидка 10%</span></h3>
                    <p class="hotel-slider__description">Минимум 5 номеров и минимум 3 ночи проживания</p>
                    <img class="hotel-slider__icon" src="./img/hotel-slider-icon-2.svg" alt="hotel-slider-icon-2">
                </li>
                <li class="hotel-slider__item">
                    <img class="hotel-slider__photo" src="./img/hotel-slider-photo-3.png" alt="">
                    <h3 class="hotel-slider__name">Получите свой 1 стимул при бронировании <span>от 5 - 10 номеров - скидка 10%</span></h3>
                    <p class="hotel-slider__description">Минимум 5 номеров и минимум 3 ночи проживания</p>
                    <img class="hotel-slider__icon" src="./img/hotel-slider-icon-3.svg" alt="hotel-slider-icon-3">
                </li>
            </ul>
        </div>
    </div>
</section>