<section class="hotel-dinner">
    <div class="_container">
        <p class="hotel-dinner__head _text-center">В ДИ<span>ВСЕ КУШАТЬ!</span></p>
        <h1 class="hotel-dinner__title _title _text-center">Пообедайте с нами</h1>
        <p class="hotel-dinner__text _text-center">Позвольте себе поужинать на террасе Апартаментов. При заказе от 3-х ночей, мы подарим Вам легкий ужин на две персоны и доставим прямо в номер.</p>
        <div class="hotel-dinner__inner">
            <img class="hotel-dinner__photo" src="./img/hotel-dinner-photo.png" alt="hotel-dinner-photo">
            <ul class="dinner-list">
                <li class="dinner-list__item">
                    <img src="./img/blue-mark.svg" alt="blue-mark">
                    <p class="dinner-list__description">В Кафе, расположенном на территории Гостиницы, подают домашнюю пасту и крем-суп.</p>
                </li>
                <li class="dinner-list__item">
                    <img src="./img/blue-mark.svg" alt="blue-mark">
                    <p class="dinner-list__description">Завтрак, обед и ужин, - повторяйте уже привычные блюда в уютном Кафе нашей Гостиницы.</p>
                </li>
                <li class="dinner-list__item">
                    <img src="./img/blue-mark.svg" alt="blue-mark">
                    <p class="dinner-list__description">Если вы предпочитаете приём пищи в уединении, - попробуйте питание в номере. Начните свой день с чашки кофе, доставленного прямо к вам в номер.</p>
                </li>
                <li class="dinner-list__item">
                    <img src="./img/blue-mark.svg" alt="blue-mark">
                    <p class="dinner-list__description">Отдохните в комфорте вашего собственного номера. Доставленный завтрак/обед/ужин из Кафе окажется правильным решением.</p>
                </li>
            </ul>
        </div>
    </div>
</section>