<section class="hotel-about">
    <img class="hotel-about__bg" src="./img/black-botttom-bg.png" alt="">
    <div class="_container">
        <!-- <ul class="rent-business__list _category-list">
            <li class="category-list__item">
                <input type="text" name="calendar" placeholder="2323" id="">
            </li>
            <li class="category-list__item">
                <a class="category-list__link _button-no-fill" href="#">Выставочные залы</a>
            </li>
            <li class="category-list__item">
                <a class="category-list__link _button-orange" href="#">Найти номер</a>
            </li>
        </ul> -->
        <div class="hotel-about__inner">
            <div class="hotel-about__wrapper">
                <img class="hotel-about__swab" src="./img/swab.svg" alt="swab">
                <div class="hotel-about__photos">
                    <img src="./img/about-us-1.jpg" alt="" />
                    <img src="./img/about-us-2.jpg" alt="" />
                    <img src="./img/about-us-3.jpg" alt="" />
                </div>
                <div class="hotel-about__content">
                    <p class="hotel-about__head">В ДИ<span>ВСЕ ОТДЫХАТЬ!</span></p>
                    <h1 class="hotel-about__title">DIVS-Hotel</h1>
                    <p class="hotel-about__description">Номерной фонд гостиницы "ДИВС" включает 27 гостевых номеров категорий Эконом, Стандарт (с балконом и без)и Апартаменты "ЛЮКС" с панорамным видом на набережную р. Исеть и центр города и собственной террасой.DIVS Hotel расположен в историческом центре Екатеринбурга, в шаговой доступности от деловых, культурных, развлекательных объектов, достопримечательностей и музеев. Номера предназначены как для индивидуальных путешественников, семейного отдыха, так и для деловых туристов.</p>
                    <ul class="statistics">
                        <li class="statistics__item">
                            <span>24/7</span>
                            обслуживание в отеле
                        </li>
                        <li class="statistics__item">
                            <span>27</span>
                            гостевых номеров
                        </li>
                        <li class="statistics__item">
                            <span>56</span>
                            основных мест
                        </li>
                        <li class="statistics__item">
                            <span>25</span>
                            дополнительных мест
                        </li>
                    </ul>
                </div>
            </div>
            <ul class="info-block">
                <li class="info-block__item">
                    <img src="./img/info-block-icon-1.svg" alt="" class="info-block__icon">
                    <p class="info-block__text">Online-регистрация заезда</p>
                </li>
                <li class="info-block__item">
                    <img src="./img/info-block-icon-2.svg" alt="" class="info-block__icon">
                    <p class="info-block__text">Охраняемый наземный паркинг</p>
                </li>
                <li class="info-block__item">
                    <img src="./img/info-block-icon-3.svg" alt="" class="info-block__icon">
                    <p class="info-block__text">Возможность проживания с животными</p>
                </li>
                <li class="info-block__item">
                    <img src="./img/info-block-icon-4.svg" alt="" class="info-block__icon">
                    <p class="info-block__text">Room-service</p>
                </li>
                <li class="info-block__item">
                    <img src="./img/info-block-icon-5.svg" alt="" class="info-block__icon">
                    <p class="info-block__text">Индивидуальные сейф-ячейки для хранения ценных вещей </p>
                </li>
                <li class="info-block__item">
                    <img src="./img/info-block-icon-6.svg" alt="" class="info-block__icon">
                    <p class="info-block__text">Бесплатный Wi-Fi на всей территории отеля</p>
                </li>
                <li class="info-block__item">
                    <img src="./img/info-block-icon-7.svg" alt="" class="info-block__icon">
                    <p class="info-block__text">Услуги по химчистке, прачечная</p>
                </li>
                <li class="info-block__item info-block__brown">
                    <img src="./img/info-block-icon-8.svg" alt="" class="info-block__icon">
                    <a href="#" class="info-block__link">Правила проживания 
                        в гостинице “ДИВС”</a>
                </li>
            </ul>
        </div>
    </div>
</section>