<section class="important-documents">
    <div class="_container">
        <div class="important-documents__inner">
            <img class="important-documents__bg" src="./img/corruption-bg.png" alt="">
            <h1 class="important-documents__title">ЕЩЕ КАКИЕ-ТО ВАЖНЫЕ ДОКУМЕНТЫ</h1>
            <ul class="important-documents__items">
                <li class="important-documents__item">
                    <img src="./img/documents-org-icon.svg" alt="important-documents-icon">
                    <p class="important-documents__text">Приказы о составе совета</p>
                </li>
                <li class="important-documents__item">
                    <img src="./img/documents-org-icon.svg" alt="important-documents-icon">
                    <p class="important-documents__text">Решение совета 1</p>
                </li>
                <li class="important-documents__item">
                    <img src="./img/documents-org-icon.svg" alt="important-documents-icon">
                    <p class="important-documents__text">Регламент работы совета</p>
                </li>
                <li class="important-documents__item">
                    <img src="./img/documents-org-icon.svg" alt="important-documents-icon">
                    <p class="important-documents__text">Решение совета 1</p>
                </li>
            </ul>
        </div>
    </div>
</section>