<section class="main-arena">
    <img class="main-arena__bg" src="./img/main-arena-bg.png" alt="">
    <div class="_container">
        <div class="main-arena__inner">
            <div class="main-arena__content">
                <div class="main-arena__info">
                    <p class="main-arena__head _sub-title">В ДИ<span>ВСЕ НА СПОРТЕ</span></p>
                    <h1 class="main-arena__title _title">Главная спортивная арена</h1>
                    <ul class="statistics">
                        <li class="statistics__item">
                            <span>2 000</span>
                            вместимость танцпола
                        </li>
                        <li class="statistics__item">
                            <span>1 000 м²</span>
                            площадь игрового поля 
                        </li>
                        <li class="statistics__item">
                            <span>3 350</span>
                            посадочных мест
                        </li>
                    </ul>
                    <a class="main-arena__button _button" href="#" >
                        Узнать подробнее
                    </a>
                </div>
                <div class="video-player">
                    <a href="https://www.youtube.com/watch?v=Wudyb7jhsKU&ab_channel=ColdSmoothie" target="_blank">
                        <img class="video-player__play" src="./img/play-icon.svg" alt="">
                        <img class="video-player__photo" src="./img/main-arena-video.png" alt="">
                    </a>
                </div>
            </div>
            <div class="main-arena__slider">
                <div class="content">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide main-arena__item">
                            <img src="./img/main-arena-slider-1.png" alt="main-arena-slider">
                        </div>
                        <div class="swiper-slide main-arena__item">
                            <img src="./img/main-arena-slider-2.png" alt="main-arena-slider">
                        </div>
                        <div class="swiper-slide main-arena__item">
                            <img src="./img/main-arena-slider-3.png" alt="main-arena-slider">
                        </div>
                        <div class="swiper-slide main-arena__item">
                            <img src="./img/main-arena-slider-2.png" alt="main-arena-slider">
                        </div>
                        <div class="swiper-slide main-arena__item">
                            <img src="./img/main-arena-slider-2.png" alt="main-arena-slider">
                        </div>
                        <div class="swiper-slide main-arena__item">
                            <img src="./img/main-arena-slider-2.png" alt="main-arena-slider">
                        </div>
                        <div class="swiper-slide main-arena__item">
                            <img src="./img/main-arena-slider-2.png" alt="main-arena-slider">
                        </div>
                        <div class="swiper-slide main-arena__item">
                            <img src="./img/main-arena-slider-2.png" alt="main-arena-slider">
                        </div>
                    </div>
                    <div class="main-arena__button">
                        <button class="main-arena__prev">
                            <img src="./img/slider-arrow-prev.svg" alt="">
                        </button>
    
                        <button class="main-arena__next">
                            <img src="./img/slider-arrow-next.svg" alt="">
                        </button>
                    </div>
                </div>
                <div class="main-arena__pagination">
            
                </div>
            </div>
        </div>
    </div>
</section>


