<section class="map">
    <div class="map__wrapper" id="contactsMap">

    </div>
    <div class="_container">
        <div class="map-block">
            <h2 class="_text-center">Наши<span> контакты</span></h2>
            <div class="map-list">
                <div class="map-list__item">
                    <span>Телефон</span>
                    <div class="map-list__info">
                        <img src="./img/footer-phone-icon.svg" alt="footer-phone-icon" style="min-width:15px;" />
                        <a href="tel:+73433593777">+7 (343) 359-37-77</a>
                    </div>
                </div>
                <div class="map-list__item">
                    <span>Адрес</span>
                    <div class="map-list__info">
                        <img src="./img/footer-map-icon.svg" alt="footer-map-icon" style="min-width:11px;" />
                        <a class="map-list__mail">г. Екатеринбург, Олимпийская набережная, д. 3</a>
                    </div>
                </div>
                <div class="map-list__item">
                    <span>Email</span>
                    <div class="map-list__info">
                        <img src="./img/footer-mail-icon.svg" alt="footer-mail-icon" style="min-width:16px;" />
                        <a href="mailto:divs@egov66.ru">divs@egov66.ru</a>
                    </div>
                </div>
                <div class="map-list__item">
                    <span>Соц.сети</span>
                    <div class="map-list__info">
                        <a href="#" target="_blank">
                            <img src="./img/footer-vk-icon.svg" alt="footer-vk-icon" />
                        </a>
                        <a href="#" target="_blank">
                            <img src="./img/footer-tg-icon.svg" alt="footer-tg-icon" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>