<div class="news-events">
    <div class="_container">
        <div class="events__inner">
            <p class="events__head">В ДИ<span>ВСЕ ХИТЫ!</span></p>
            <div class="events__caption">
                <h2 class="events__name _title">Анонсы мероприятий</h2>
                <a class="events__button _button" href="#">Смотреть все анонсы</a>
            </div>
            <div class="events__content">
                <div class="preview">
                    <img src="./img/preview-photo.png" alt="">
                    <p class="preview__date">8 июля 2023, 12:00</p>
                    <h3 class="preview__title _title-description">ХК «Автомобилист» — ХК «Металлург Мг»</h3>
                    <p class="preview__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a class="preview__button _button-no-fill" href="#">Узнать подробнее</a>
                </div>
                <ul class="preview-list">
                    <li class="preview-list__item">
                        <img src="./img/preview-list.png" alt="">
                        <div class="preview-list__info">
                            <p class="preview-list__date">2 августа 2023, 14:00</p>
                            <h3 class="preview-list__title">ХК «Автомобилист» — ХК «Металлург Мг»</h3>
                            <p class="preview-list__description">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
                            </p>
                            <a class="preview-list__button" href="#">Узнать подробнее</a>
                        </div>
                    </li>
                    <li class="preview-list__item">
                        <img src="./img/preview-list.png" alt="">
                        <div class="preview-list__info">
                            <p class="preview-list__date">2 августа 2023, 14:00</p>
                            <h3 class="preview-list__title">ХК «Автомобилист» — ХК «Металлург Мг»</h3>
                            <p class="preview-list__description">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
                            </p>
                            <a class="preview-list__button" href="#">Узнать подробнее</a>
                        </div>
                    </li>
                    <li class="preview-list__item">
                        <img src="./img/preview-list.png" alt="">
                        <div class="preview-list__info">
                            <p class="preview-list__date">2 августа 2023, 14:00</p>
                            <h3 class="preview-list__title">ХК «Автомобилист» — ХК «Металлург Мг»</h3>
                            <p class="preview-list__description">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            </p>
                            <a class="preview-list__button" href="#">Узнать подробнее</a>
                        </div>
                    </li>
                    <li class="preview-list__item">
                        <img src="./img/preview-list.png" alt="">
                        <div class="preview-list__info">
                            <p class="preview-list__date">2 августа 2023, 14:00</p>
                            <h3 class="preview-list__title">ХК «Автомобилист» — ХК «Металлург Мг»</h3>
                            <p class="preview-list__description">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
                            </p>
                            <a class="preview-list__button" href="#">Узнать подробнее</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>