<section class="news">
    <img src="./img/news-bg.webp" alt="news-bg" class="news__bg">
    <div class="_container">
        <div class="news__inner">
            <p class="news__head">В ДИ<span>ВСЕ НА СПОРТЕ</span></p>
            <div class="news__caption">
                <h1 class="news-name">Последние новости</h1>
                <a class="news__button _button" href="#">Смотреть все новости</a>
            </div>

            <ul class="slider">
                <li class="slider__item">
                    <img src="./img/news-photo-1.jpg" alt="">
                    <p class="slider__date">8 июля 2023</p>
                    <h3 class="slider__title">Концерт группы КняZz: ответы на часто задаваемые вопросы</h3>
                    <p class="slider__description">Долгожданный концерт концерт группы КняZz во Дворце игровых видов спорта.</p>
                    <a class="slider__button _button-no-fill" href="#">Узнать подробнее</a>
                </li>
                <li class="slider__item">
                    <img src="./img/news-photo-2.jpg" alt="">
                    <p class="slider__date">8 июля 2023</p>
                    <h3 class="slider__title">Специальные скидки в честь 20-летия!</h3>
                    <p class="slider__description">Получите скидку в размере 20% на безлимитные абонементы в ДИВС </p>
                    <a class="slider__button _button-no-fill" href="#">Узнать подробнее</a>
                </li>
                <li class="slider__item">
                    <img src="./img/news-photo-3.jpg" alt="">
                    <p class="slider__date">8 июля 2023</p>
                    <h3 class="slider__title">Акция - 9 месяцев фитнес-побед!</h3>
                    <p class="slider__description">Только с 1 по 21 мая! Абонемент 9 месяцев фитнес-побед – за 9 999 руб.</p>
                    <a class="slider__button _button-no-fill" href="#">Узнать подробнее</a>
                </li>
            </ul>
        </div>
    </div>
</section>