<section class="news-main page-divs--news-main">
    <div class="_container">
        <div class="news-main__inner">
            <ul class="breadcrumbs">
                <li class="breadcrumbs__item">
                    <a href="/index.html" class="breadcrumbs__link">Главная</a>
                </li>
                <li class="breadcrumbs__item">
                    <a class="breadcrumbs__link">Новости</a>
                </li>
            </ul>
            <h1 class="facts__title"><span>В ДИ</span>ВСЕ НОВОСТИ</h1>
        </div>
    </div>
</section>
