<section class="news-discount">
    <div class="_container">
        <ul class="breadcrumbs">
            <li class="breadcrumbs__item">
                <a href="" class="breadcrumbs__link">Главная</a>
            </li>
            <li class="breadcrumbs__item">
                <a href="" class="breadcrumbs__link">Новости</a>
            </li>
            <li class="breadcrumbs__item">
                <a class="breadcrumbs__link">Старт нового фитнес-сезона – скидки до 20%!</a>
            </li>
        </ul>
        <div class="news-discount__inner">
            <img src="./img/new-discount-1.png" alt="new-discount" />
            <div class="news-discount__content">
                <p class="news-discount__head">14 июля 2023</p>
                <h1 class="news-discount__title">Старт нового фитнес-сезона – скидки до 20%!</h1>
                <p class="news-discount__description">
                    Поддерживать физическую форму в «Фитнес-Арене» Дворца игровых видов спорта стало выгоднее – получите скидку до 20% на абонементы в честь старта нового сезона. Акционное предложение действует с 18 по 25 сентября на абонементы на 3 месяца, 6 месяцев и 12 месяцев.
                </p>
                <p class="news-discount__phone">
                    Подробности по телефону:
                    <a href="tel:+73433593773">+7 (343) 359-37-73.</a>
                </p>
            </div>
        </div>
    </div>
</section>