<section class="organizators">
    <div class="_container">
        <div class="organizators__inner">
            <img class="organizators__bg" src="./img/facts-history-bg.png" alt="">
            <h1 class="organizators__title">ДЛЯ ОРГАНИЗАТОРОВ</h1>
            <ul class="organizators-list">
                <li class="organizators-list__item">
                    <img src="./img/documents-org-icon.svg" alt="documents-org-icon">
                    <p class="organizators-list__text">Технические условия</p>
                </li>
                <li class="organizators-list__item">
                    <img src="./img/documents-org-icon.svg" alt="documents-org-icon">
                    <p class="organizators-list__text">Заявка-разрешение</p>
                </li>
                <li class="organizators-list__item">
                    <img src="./img/documents-org-icon.svg" alt="documents-org-icon">
                    <p class="organizators-list__text">Положение по подготовке мероприятий</p>
                </li>
                <li class="organizators-list__item">
                    <img src="./img/documents-org-icon.svg" alt="documents-org-icon">
                    <p class="organizators-list__text">Положение о подготовке к мероприятиям</p>
                </li>
            </ul>
        </div>
    </div>
</section>