<section class="other">
    <div class="_container">
        <div class="other__inner">
            <img class="other__bg" src="./img/facts-history-bg.png" alt="">
            <h1 class="facts-history__title">ПРОЧЕЕ</h1>
            <ul class="other-list">
                <li class="other-list__item">
                    <img src="./img/documents-org-icon.svg" alt="documents-org-icon">
                    <p class="other-list__text">Политика обработки персональных данных</p>
                </li>
                <li class="other-list__item">
                    <img src="./img/documents-org-icon.svg" alt="documents-org-icon">
                    <p class="other-list__text">Инструкция по обеспечению общественного порядка и общественной безопасности</p>
                </li>
                <li class="other-list__item">
                    <img src="./img/documents-org-icon.svg" alt="documents-org-icon">
                    <p class="other-list__text">Приказ о закупках</p>
                </li>
            </ul>
        </div>
    </div>
</section>