<section class="anti-doping">
    <div class="_container">
        <div class="anti-doping__inner">
            <img class="anti-doping__bg" src="./img/facts-history-bg.png" alt="">
            <h2 class="facts-history__title">ПРОЧЕЕ</h2>
            <ul class="anti-doping-list">
                <li class="anti-doping-list__item">
                    <a href="#" target="_blank">
                        <img src="./img/documents-org-icon.svg" alt="documents-org-icon">
                        <p class="other-list__text">Политика обработки персональных данных</p>
                    </a>
                </li>
                <li class="anti-doping-list__item">
                    <a href="#" target="_blank">
                        <img src="./img/documents-org-icon.svg" alt="documents-org-icon">
                    <p class="other-list__text">Инструкция по обеспечению общественного порядка и общественной безопасности</p>
                    </a>
                </li>
                <li class="anti-doping-list__item">
                    <a href="#" target="_blank">
                        <img src="./img/documents-org-icon.svg" alt="documents-org-icon">
                    <p class="other-list__text">Приказ о закупках</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>