<section class="poster-main page-divs--poster-main">
    <!-- <img class="poster-main__bg" src="./img/concert-botttom-bg.png" alt=""> -->
    <div class="poster-main-slider">
        <div class="_container">
            <div class="poster-main__inner">
                <ul class="breadcrumbs">
                    <li class="breadcrumbs__item">
                        <a href="/index.html" class="breadcrumbs__link">Главная</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <a class="breadcrumbs__link">Афиша</a>
                    </li>
                </ul>
                <h1 class="poster-main__title">КОНЦЕРТ ГРУППЫ КНЯZZ</h1>
                <p class="poster-main__description">
                    Долгожданный концерт группы КняZz во Дворце игровых видов
                    спорта ДИВС
                </p>
                <a class="poster-main__button _button">
                    Узнать подробнее
                </a>
            </div>

        </div>

    </div>
    <!-- <div class="concert__bg">
    </div> -->
</section>
