<section class="poster-events">
    <img class="poster-events__bg" src="./img/concert-botttom-bg.png" alt="">
    <div class="_container">
        <ul class="poster-events__list _category-list">
            <li class="category-list__item">
                <a class="category-list__link _button-no-fill" href="#">Все события</a>
            </li>
            <li class="category-list__item">
                <a class="category-list__link _button-no-fill" href="#">Спорт</a>
            </li>
            <li class="category-list__item">
                <a class="category-list__link _button-no-fill" href="#">Концерты</a>
            </li>
            <li class="category-list__item">
                <a class="category-list__link _button-no-fill" href="#">Выставки</a>
            </li>
        </ul>
        <p class="poster-events__head _title-description">В ДИ<span>ВСЕ ХИТЫ!</span></p>
        <h1 class="poster-events__title _title">Анонсы мероприятий</h1>
        <div class="poster-events__content">
            <ul class="poster-events__items _grid">
                <li class="poster-events__item grid__item">
                    <img src="./img/poster-events-1.png" alt="">
                    <p class="grid__date">8 июля 2023</p>
                    <h3 class="grid__title">ХК «Автомобилист» — ХК «Металлург Мг»</h3>
                    <p class="grid__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a class="grid__button _button-no-fill" href="#">Узнать подробнее</a>
                </li>
                <li class="poster-events__item grid__item">
                    <img src="./img/poster-events-1.png" alt="">
                    <p class="grid__date">8 июля 2023</p>
                    <h3 class="grid__title">ХК «Автомобилист» — ХК «Металлург Мг»</h3>
                    <p class="grid__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a class="grid__button _button-no-fill" href="#">Узнать подробнее</a>
                </li>
                <li class="poster-events__item grid__item">
                    <img src="./img/poster-events-1.png" alt="">
                    <p class="grid__date">8 июля 2023</p>
                    <h3 class="grid__title">ХК «Автомобилист» — ХК «Металлург Мг»</h3>
                    <p class="grid__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a class="grid__button _button-no-fill" href="#">Узнать подробнее</a>
                </li>
                <li class="poster-events__item grid__item">
                    <img src="./img/poster-events-1.png" alt="">
                    <p class="grid__date">8 июля 2023</p>
                    <h3 class="grid__title">ХК «Автомобилист» — ХК «Металлург Мг»</h3>
                    <p class="grid__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a class="grid__button _button-no-fill" href="#">Узнать подробнее</a>
                </li>
                <li class="poster-events__item grid__item">
                    <img src="./img/poster-events-1.png" alt="">
                    <p class="grid__date">8 июля 2023</p>
                    <h3 class="grid__title">ХК «Автомобилист» — ХК «Металлург Мг»</h3>
                    <p class="grid__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a class="grid__button _button-no-fill" href="#">Узнать подробнее</a>
                </li>
                <li class="poster-events__item grid__item">
                    <img src="./img/poster-events-1.png" alt="">
                    <p class="grid__date">8 июля 2023</p>
                    <h3 class="grid__title">ХК «Автомобилист» — ХК «Металлург Мг»</h3>
                    <p class="grid__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a class="grid__button _button-no-fill" href="#">Узнать подробнее</a>
                </li>
                <li class="poster-events__item grid__item">
                    <img src="./img/poster-events-1.png" alt="">
                    <p class="grid__date">8 июля 2023</p>
                    <h3 class="grid__title">ХК «Автомобилист» — ХК «Металлург Мг»</h3>
                    <p class="grid__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a class="grid__button _button-no-fill" href="#">Узнать подробнее</a>
                </li>
                <li class="poster-events__item grid__item">
                    <img src="./img/poster-events-1.png" alt="">
                    <p class="grid__date">8 июля 2023</p>
                    <h3 class="grid__title">ХК «Автомобилист» — ХК «Металлург Мг»</h3>
                    <p class="grid__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a class="grid__button _button-no-fill" href="#">Узнать подробнее</a>
                </li>
                <li class="poster-events__item grid__item">
                    <img src="./img/poster-events-1.png" alt="">
                    <p class="grid__date">8 июля 2023</p>
                    <h3 class="grid__title">ХК «Автомобилист» — ХК «Металлург Мг»</h3>
                    <p class="grid__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a class="grid__button _button-no-fill" href="#">Узнать подробнее</a>
                </li>
            </ul>
            <button class="all-news__button _button">Загрузить еще</button>
        </div>
    </div>
</section>