<section class="rent-vip">
    <div class="_container">
        <div class="rent-vip__inner">
            <div class="rent-vip__content">
                <img class="rent-press__photo" src="./img/rent-vip-photo.png" alt="">
                <div class="rent-vip__features">
                    <h2 class="rent-vip__name">VIP-зоны</h2>
                    <div class="rent-vip__statistic">
                        <span>от 10 до 30 человек</span>
                        <p>вместимость зала</p>
                    </div>
                    <p class="rent-vip__description">VIP-зоны с панорамным видом на городской пруд, а также на главную спортивную арену Дворца подходят для проведения статусных и камерных мероприятий.</p>
                    <div class="mini-bg">
                        <img src="./img/mini-bg.png" alt="">
                        <p class="mini-bg__text">ФОРМАТ</p>
                    </div>
                    <ul class="info">
                        <li class="info__item">
                            <img src="./img/mark-icon.svg" alt="mark-icon">
                            <p class="info__text">бизнес-завтрак</p>
                        </li>
                        <li class="info__item">
                            <img src="./img/mark-icon.svg" alt="mark-icon">
                            <p class="info__text">деловая встреча</p>
                        </li>
                        <li class="info__item">
                            <img src="./img/mark-icon.svg" alt="mark-icon">
                            <p class="info__text">презентация</p>
                        </li>
                        <li class="info__item">
                            <img src="./img/mark-icon.svg" alt="mark-icon">
                            <p class="info__text">фуршет</p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="rent-vip__slider">
                <div class="content">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide main-arena__item">
                            <img src="./img/main-arena-slider-1.png" alt="main-arena-slider">
                        </div>
                        <div class="swiper-slide main-arena__item">
                            <img src="./img/main-arena-slider-2.png" alt="main-arena-slider">
                        </div>
                        <div class="swiper-slide main-arena__item">
                            <img src="./img/main-arena-slider-3.png" alt="main-arena-slider">
                        </div>
                        <div class="swiper-slide main-arena__item">
                            <img src="./img/main-arena-slider-2.png" alt="main-arena-slider">
                        </div>
                    </div>
                    <div class="main-arena__button">
                        <button class="rent-vip__prev">
                            <img src="./img/slider-arrow-prev.svg" alt="">
                        </button>
    
                        <button class="rent-vip__next">
                            <img src="./img/slider-arrow-next.svg" alt="">
                        </button>
                    </div>
                </div>
                <div class="rent-vip__pagination">
            
                </div>
            </div>
        </div>
    </div>
</section>