<section class="rent-area">
    <div class="_container">
        <div class="rent-area__inner">
            <div class="rent-area__content">
                <img class="ret-press__photo" src="./img/rent-area-photo.png" alt="">
                <div class="rent-area__features">
                    <h2 class="rent-area__name">Прилегающая территория</h2>
                    <div class="rent-area__statistic">
                        <span>4 000 м²</span>
                        <p>площадь фойе</p>
                    </div>
                    <p class="rent-area__description">Прилегающая территория вокруг Дворца игровых видов спорта – оптимальное место для проведения массовых мероприятий и масштабных событий</p>
                    <div class="mini-bg">
                        <img src="./img/mini-bg.png" alt="">
                        <p class="mini-bg__text">ОСНАЩЕНИЕ</p>
                    </div>
                    <ul class="info">
                        <li class="info__item">
                            <img src="./img/mark-icon.svg" alt="mark-icon">
                            <p class="info__text">Закрытая территория</p>
                        </li>
                        <li class="info__item">
                            <img src="./img/mark-icon.svg" alt="mark-icon">
                            <p class="info__text">Удобные коммуникации</p>
                        </li>
                        <li class="info__item">
                            <img src="./img/mark-icon.svg" alt="mark-icon">
                            <p class="info__text">Архитектурная подсветка</p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="rent-area__slider">
                <div class="content">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide main-arena__item">
                            <img src="./img/main-arena-slider-1.png" alt="main-arena-slider">
                        </div>
                        <div class="swiper-slide main-arena__item">
                            <img src="./img/main-arena-slider-2.png" alt="main-arena-slider">
                        </div>
                        <div class="swiper-slide main-arena__item">
                            <img src="./img/main-arena-slider-3.png" alt="main-arena-slider">
                        </div>
                        <div class="swiper-slide main-arena__item">
                            <img src="./img/main-arena-slider-2.png" alt="main-arena-slider">
                        </div>
                        <div class="swiper-slide main-arena__item">
                            <img src="./img/main-arena-slider-1.png" alt="main-arena-slider">
                        </div>
                        <div class="swiper-slide main-arena__item">
                            <img src="./img/main-arena-slider-2.png" alt="main-arena-slider">
                        </div>
                        <div class="swiper-slide main-arena__item">
                            <img src="./img/main-arena-slider-3.png" alt="main-arena-slider">
                        </div>
                        <div class="swiper-slide main-arena__item">
                            <img src="./img/main-arena-slider-2.png" alt="main-arena-slider">
                        </div>
                    </div>
                    <div class="main-arena__button">
                        <button class="rent-area__prev">
                            <img src="./img/slider-arrow-prev.svg" alt="">
                        </button>
    
                        <button class="rent-area__next">
                            <img src="./img/slider-arrow-next.svg" alt="">
                        </button>
                    </div>
                </div>
                <div class="rent-area__pagination">
            
                </div>
            </div>
        </div>
    </div>
</section>