<section class="rent-main page-divs--rent-main">
    <div class="_container">
        <div class="rent-main__inner">
            <ul class="breadcrumbs">
                <li class="breadcrumbs__item">
                    <a href="/" class="breadcrumbs__link">Главная</a>
                </li>
                <li class="breadcrumbs__item">
                    <a class="breadcrumbs__link">Аренда</a>
                </li>
            </ul>
            <h1 class="_main-page__title">АРЕНДА</h1>
            <p class="_main-page__description">
                Бизнес-пространства, выставочные залы, спортивные арены
            </p>
        </div>
    </div>
</section>