<section class="rent-floor">
    <div class="_container">
        <div class="rent-floor__inner">
            <div class="rent-floor__content">
                <img class="rent-floor__photo" src="./img/rent-floor-photo.png" alt="">
                <div class="rent-floor__features">
                    <h2 class="rent-floor__name">Фойе 3-го этажа</h2>
                    <div class="rent-floor__statistic">
                        <span>600 м²</span>
                        <p>площадь фойе</p>
                    </div>
                    <p class="rent-floor__description">Многофункциональное пространство на 3-м этаже Главной арены. Пространство в светлых тонах, панорамные окна, высокие потолки в стиле лофт - все способствует плодотворной работе.</p>
                    <div class="mini-bg">
                        <img src="./img/mini-bg.png" alt="">
                        <p class="mini-bg__text">ОСНАЩЕНИЕ</p>
                    </div>
                    <ul class="info">
                        <li class="info__item">
                            <img src="./img/mark-icon.svg" alt="mark-icon">
                            <p class="info__text">Звуковое/световое/мультимедийное оборудование (доп.оплата)</p>
                        </li>
                        <li class="info__item">
                            <img src="./img/mark-icon.svg" alt="mark-icon">
                            <p class="info__text">Возможность размещения зоны питания</p>
                        </li>
                    </ul>
                    <div class="mini-bg">
                        <img src="./img/mini-bg.png" alt="">
                        <p class="mini-bg__text">ФОРМАТ</p>
                    </div>
                    <ul class="info-list">
                        <li class="info-list__item">
                            <img src="./img/mark-icon.svg" alt="mark-icon">
                            <p class="info-list__text">Презентации</p>
                        </li>
                        <li class="info-list__item">
                            <img src="./img/mark-icon.svg" alt="mark-icon">
                            <p class="info-list__text">Выставки</p>
                        </li>
                        <li class="info-list__item">
                            <img src="./img/mark-icon.svg" alt="mark-icon">
                            <p class="info-list__text">Фуршеты/банкеты</p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="swiper main-arena__slider rent-floor__slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide main-arena__item">
                        <img src="./img/main-arena-slider-1.png" alt="main-arena-slider">
                    </div>
                    <div class="swiper-slide main-arena__item">
                        <img src="./img/main-arena-slider-2.png" alt="main-arena-slider">
                    </div>
                    <div class="swiper-slide main-arena__item">
                        <img src="./img/main-arena-slider-3.png" alt="main-arena-slider">
                    </div>
                    <div class="swiper-slide main-arena__item">
                        <img src="./img/main-arena-slider-2.png" alt="main-arena-slider">
                    </div>
                </div>
                <div class="main-arena__button">
                    <button class="main-arena__prev">
                        <img src="./img/slider-arrow-prev.svg" alt="">
                    </button>

                    <button class="main-arena__next">
                        <img src="./img/slider-arrow-next.svg" alt="">
                    </button>
                </div>
                <div class="main-arena__pagination">
            
                </div>
            </div>
        </div>
    </div>
</section>