<section class="rent-press">
    <div class="_container">
        <div class="rent-press__inner">
            <div class="rent-press__content">
                <img class="ret-press__photo" src="./img/rent-press-photo.png" alt="">
                <div class="rent-press__features">
                    <h2 class="rent-press__name">Пресс-центр «Блок А»</h2>
                    <div class="rent-press__statistic">
                        <span>до 50 человек</span>
                        <p>вместимость зала</p>
                    </div>
                    <p class="rent-press__description">Пресс-центр располагается на 2-м этаже, рядом с Главной спортивной ареной.</p>
                    <div class="mini-bg">
                        <img src="./img/mini-bg.png" alt="">
                        <p class="mini-bg__text">ФОРМАТ</p>
                    </div>
                    <ul class="info">
                        <li class="info__item">
                            <img src="./img/mark-icon.svg" alt="mark-icon">
                            <p class="info__text">пресс-конференции</p>
                        </li>
                        <li class="info__item">
                            <img src="./img/mark-icon.svg" alt="mark-icon">
                            <p class="info__text">совещания</p>
                        </li>
                        <li class="info__item">
                            <img src="./img/mark-icon.svg" alt="mark-icon">
                            <p class="info__text">тренинги</p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="swiper main-arena__slider rent-press__slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide main-arena__item">
                        <img src="./img/main-arena-slider-1.png" alt="main-arena-slider">
                    </div>
                    <div class="swiper-slide main-arena__item">
                        <img src="./img/main-arena-slider-2.png" alt="main-arena-slider">
                    </div>
                    <div class="swiper-slide main-arena__item">
                        <img src="./img/main-arena-slider-3.png" alt="main-arena-slider">
                    </div>
                    <div class="swiper-slide main-arena__item">
                        <img src="./img/main-arena-slider-2.png" alt="main-arena-slider">
                    </div>
                </div>
                <div class="main-arena__button">
                    <button class="main-arena__prev">
                        <img src="./img/slider-arrow-prev.svg" alt="">
                    </button>

                    <button class="main-arena__next">
                        <img src="./img/slider-arrow-next.svg" alt="">
                    </button>
                </div>
                <div class="main-arena__pagination">
            
                </div>
            </div>
        </div>
    </div>
</section>