<section class="rent-arena">
    <img class="rent-arena__bg" src="./img/rent-arena-bg.png" alt="">
    <div class="_container">
        <div class="rent-arena__inner">
            <div class="rent-arena__caption">
                <p class="rent-arena__head _sub-title _text-center">В ДИ<span>ВСЕ НА ВЫСТАВКУ!</span></p>
                <h1 class="rent-arena__title _title _text-center">Выставочные пространства</h1>
            </div>
            <div class="rent-arena__content">
                <img class="rent-arena__photo" src="./img/rent-arena-photo.png" alt="">
                <div class="rent-arena__features">
                    <h2 class="rent-arena__name">Фойе главной арены</h2>
                    <div class="rent-arena__statistic">
                        <span>1 500 м²</span>
                        <p>площадь фойе</p>
                    </div>
                    <p class="rent-arena__description">Универсальное пространство на 1-м этаже Главной арены подойдет для проведения мероприятий различного формата, благодаря раздвижной гардеробной системе холл трансформируется в открытое пространство.</p>
                    <div class="mini-bg">
                        <img src="./img/mini-bg.png" alt="">
                        <p class="mini-bg__text">ОСНАЩЕНИЕ</p>
                    </div>
                    <ul class="info">
                        <li class="info__item">
                            <img src="./img/mark-icon.svg" alt="mark-icon">
                            <p class="info__text">Входные группы, оснащенные досмотровым оборудованием</p>
                        </li>
                        <li class="info__item">
                            <img src="./img/mark-icon.svg" alt="mark-icon">
                            <p class="info__text">Турникеты с автоматическим считыванием штрих-кодов</p>
                        </li>
                        <li class="info__item">
                            <img src="./img/mark-icon.svg" alt="mark-icon">
                            <p class="info__text">Зона питания (кафе) с дополнительной возможностью размещения точек кейтеринга</p>
                        </li>
                    </ul>
                    <div class="mini-bg">
                        <img src="./img/mini-bg.png" alt="">
                        <p class="mini-bg__text">ФОРМАТ</p>
                    </div>
                    <ul class="info-list">
                        <li class="info-list__item">
                            <img src="./img/mark-icon.svg" alt="mark-icon">
                            <p class="info-list__text">Выставки</p>
                        </li>
                        <li class="info-list__item">
                            <img src="./img/mark-icon.svg" alt="mark-icon">
                            <p class="info-list__text">Ярмарки</p>
                        </li>
                        <li class="info-list__item">
                            <img src="./img/mark-icon.svg" alt="mark-icon">
                            <p class="info-list__text">Форумы</p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="swiper main-arena__slider rent-arena__slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide main-arena__item">
                        <img src="./img/main-arena-slider-1.png" alt="main-arena-slider">
                    </div>
                    <div class="swiper-slide main-arena__item">
                        <img src="./img/main-arena-slider-2.png" alt="main-arena-slider">
                    </div>
                    <div class="swiper-slide main-arena__item">
                        <img src="./img/main-arena-slider-3.png" alt="main-arena-slider">
                    </div>
                    <div class="swiper-slide main-arena__item">
                        <img src="./img/main-arena-slider-2.png" alt="main-arena-slider">
                    </div>
                </div>
                <div class="main-arena__button">
                    <button class="main-arena__prev">
                        <img src="./img/slider-arrow-prev.svg" alt="">
                    </button>

                    <button class="main-arena__next">
                        <img src="./img/slider-arrow-next.svg" alt="">
                    </button>
                </div>
                <div class="main-arena__pagination">
            
                </div>
            </div>
        </div>
    </div>
</section>