<section class="rent-business">
    <img class="rent-business__bg" src="./img/concert-botttom-bg.png" alt="">
    <div class="_container">
        <ul class="rent-business__list _category-list">
            <li class="category-list__item">
                <a class="category-list__link _button-no-fill" href="#">Бизнес-пространства</a>
            </li>
            <li class="category-list__item">
                <a class="category-list__link _button-no-fill" href="#">Выставочные залы</a>
            </li>
            <li class="category-list__item">
                <a class="category-list__link _button-no-fill" href="#">Спортивные арены</a>
            </li>
            
        </ul>

        <div class="rent-business__inner">
            <div class="question">
                <div class="question__info">
                    <img src="./img/mail-icon.svg" alt="main-icon">
                    <p class="question__text _title-description">
                        По вопросам арены главной спортивной арены 
                        обращайтесь по электронной почте - <a href="mailto:yaneustroeva@yandex.ru">zav_fitness@divsport.ru</a>
                    </p>
                </div>
            </div>

            <p class="rent-business__head _title-description _text-center">В ДИ<span>ВСЕ НА КОНФЕРЕНЦИЮ!</span></p>
            <h1 class="rent-business__title _title _text-center">Бизнес-пространства</h1>
            <div class="rent-business__content">
                <img class="rent-business__photo" src="./img/rent-business-photo.png" alt="">
                <div class="rent-business__features">
                    <h2 class="rent-business__name">Конференц-зал «Блок Б»</h2>
                    <div class="rent-business__statistic">
                        <span>до 140 человек</span>
                        <p>вместимость зала</p>
                    </div>
                    <p class="rent-business__description">Конференц-зал располагается на 4-м этаже административного здания, оснащен современным технологическим оборудованием.</p>
                    <div class="mini-bg">
                        <img src="./img/mini-bg.png" alt="">
                        <p class="mini-bg__text">ФОРМАТ</p>
                    </div>
                    <ul class="info">
                        <li class="info__item">
                            <img src="./img/mark-icon.svg" alt="mark-icon">
                            <p class="info__text">конференции</p>
                        </li>
                        <li class="info__item">
                            <img src="./img/mark-icon.svg" alt="mark-icon">
                            <p class="info__text">семинары</p>
                        </li>
                        <li class="info__item">
                            <img src="./img/mark-icon.svg" alt="mark-icon">
                            <p class="info__text">бизнес-завтрак</p>
                        </li>
                        <li class="info__item">
                            <img src="./img/mark-icon.svg" alt="mark-icon">
                            <p class="info__text">презентации</p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="main-arena__slider">
                <div class="content">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide main-arena__item">
                            <img src="./img/main-arena-slider-1.png" alt="main-arena-slider">
                        </div>
                        <div class="swiper-slide main-arena__item">
                            <img src="./img/main-arena-slider-2.png" alt="main-arena-slider">
                        </div>
                        <div class="swiper-slide main-arena__item">
                            <img src="./img/main-arena-slider-3.png" alt="main-arena-slider">
                        </div>
                        <div class="swiper-slide main-arena__item">
                            <img src="./img/main-arena-slider-2.png" alt="main-arena-slider">
                        </div>
                        <div class="swiper-slide main-arena__item">
                            <img src="./img/main-arena-slider-2.png" alt="main-arena-slider">
                        </div>
                        <div class="swiper-slide main-arena__item">
                            <img src="./img/main-arena-slider-2.png" alt="main-arena-slider">
                        </div>
                        <div class="swiper-slide main-arena__item">
                            <img src="./img/main-arena-slider-2.png" alt="main-arena-slider">
                        </div>
                        <div class="swiper-slide main-arena__item">
                            <img src="./img/main-arena-slider-2.png" alt="main-arena-slider">
                        </div>
                    </div>
                    <div class="main-arena__button">
                        <button class="main-arena__prev">
                            <img src="./img/slider-arrow-prev.svg" alt="">
                        </button>
    
                        <button class="main-arena__next">
                            <img src="./img/slider-arrow-next.svg" alt="">
                        </button>
                    </div>
                </div>
                <div class="main-arena__pagination">
            
                </div>
            </div>
        </div>
    </div>
</section>