<section class="rooms">
    <div class="_container">
        <div class="rooms__inner">
            <p class="rooms__head _sub-title">В ДИ<span>ВСЕ НА ТРЕНИРОВКУ!</span></p>
            <div class="rooms__caption">
                <h2 class="rooms-name _title">Тренировочные залы</h2>
                <a class="rooms__button _button" href="#">Узнать подробнее</a>
            </div>

            <ul class="rooms-list">
                <li class="rooms-list__item">
                    <img class="rooms-list__image" src="./img/rooms-photo-1.jpg" alt="">
                    <h2 class="rooms-list__title _title-description">Большой и малый тренировочные залы</h2>
                    <a href="" class="rooms-list__button _button-no-fill">Узнать подробнее</a>
                </li>
                <li class="rooms-list__item">
                    <img class="rooms-list__image" src="./img/rooms-photo-2.jpg" alt="">
                    <h2 class="rooms-list__title _title-description">Залы общей физической подготовки</h2>
                    <a href="" class="rooms-list__button _button-no-fill">Узнать подробнее</a>
                </li>
                <li class="rooms-list__item">
                    <img class="rooms-list__image" src="./img/rooms-photo-3.jpg" alt="">
                    <h2 class="rooms-list__title _title-description">Зал хореографии</h2>
                    <a href="" class="rooms-list__button _button-no-fill">Узнать подробнее</a>
                </li>
            </ul>
        </div>
    </div>
</section>