<div class="ticket">
    <div class="_container">
        <ul class="breadcrumbs">
            <li class="breadcrumbs__item">
                <a href="/index.html" class="breadcrumbs__link">Главная</a>
            </li>
            <li class="breadcrumbs__item">
                <a href="/news.html" class="breadcrumbs__link">Новости</a>
            </li>
            <li class="breadcrumbs__item">
                <a class="breadcrumbs__link">Старт нового фитнес-сезона – скидки до 20%!</a>
            </li>
        </ul>
        <p class="ticket__head _sub-title">14 июля 2023</p>
        <h1 class="ticket__title">Продолжается продажа билетов на Международный фестиваль университетского спорта</h1>
        <div class="ticket__inner">
            <img src="./img/ticket-1.png" alt="ticket-photo" />
            <div class="ticket__content">
                <p class="ticket__description">
                    Поддерживать физическую форму в «Фитнес-Арене» Дворца игровых видов спорта стало выгоднее – получите скидку до 20% на абонементы в честь старта нового сезона. Акционное предложение действует с 18 по 25 сентября на абонементы на 3 месяца, 6 месяцев и 12 месяцев.
                </p>
                <p class="ticket__description">
                    Стоимость начинается от 80 рублей. Билеты на соревнования распространяются только в электронном виде
                </p>
                <p class="ticket__description">
                    Для удобства зрителей предусмотрены различные категории билетов. Так, например, «Билет на весь день» предполагает посещение всех соревнований, проводимых на конкретном объекте в течение одного дня. Доступны категории на определенное время суток — утро или вечер.
                </p>
                <p class="ticket__description">
                    Приобретайте билеты на официальном сайте фестиваля.
                </p>
                <p class="ticket__description">
                    Фото: Международный фестиваль университетского спорта
                </p>
            </div>
        </div>
        <div class="ticket__link">
            <a href="#">Правила поведения для зрителей</a>
        </div>
    </div>
</div>