@import "./variables.scss";

// Width/Height

@mixin width-height($w, $h) {
    width: $w;
    height: $h;
}

@mixin fixed-width($w) {
    width: $w;
    min-width: $w;
    max-width: $w;
}

@mixin fixed-height($h) {
    height: $h;
    min-height: $h;
    max-height: $h;
}

@mixin fixed-width-height($w, $h) {
    @include fixed-width($w);
    @include fixed-height($h);
}

// Displaying

@mixin fcc {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin fcb {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin fc_ {
    display: flex;
    align-items: center;
}

@mixin f_c {
    display: flex;
    justify-content: center;
}


// Window breaks

@mixin break-desk-big {
    @media (max-width: $break-desk-big) {
        @content;
    }
}

@mixin break-desk {
    @media (max-width: $break-desk) {
        @content;
    }
}

@mixin break-mobile {
    @media (max-width: $break-mobile) {
        @content;
    }    
}

@mixin break-mobile-small {
    @media (max-width: $break-mobile-small) {
        @content;
    }    
}

// Hover 

@mixin hover {
    &:hover {
        @media #{$mouseDevice} {
          @content;
        }
    }
}

// Transition

@mixin transition {
    transition: all ease .6s;
}

// Opacity hover

@mixin opacity-hover {
    @include transition;
    @include hover {
        opacity: .6;
    }
}