.about-us {
    padding: 250px 0 110px;
    position: relative;
    overflow: hidden;

    &__bg {
        position: absolute;
        top: 0;
    }

    &__swab {
        position: absolute;
        top: 74px;
        left: 34px;
    }

    &__inner {
        position: relative;
        display: flex;
        align-items: flex-start;
    }

    &__photos {
        margin: 0 70px 0 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px 30px;

        img:first-child {
            grid-column-start: 1;
            grid-column-end: 3;
        }
    }

    &__content {

        .about-us__head {
            font-size: 25px;
            font-weight: 800;
            margin: 0 0 10px;
            
            span {
                color: $color-orange-main;
            }
        }

        .about-us__title {
            margin: 0 0 10px;
            font-size: 55px;
            font-weight: 700;
        }

        .about-us__description {
            width: 640px;
            margin: 0 0 35px;
            color: $color-black-darken;
            line-height: 30px;
        }

        .statistics {
            margin: 0 0 40px;
            display: flex;
            align-items: flex-start;

            &__item {
                font-weight: 600;
                color: $color-black-darken;

                span {
                    font-weight: 800;
                    font-size: 32px;
                    color: $color-orange-main;
                    white-space: nowrap;
                    margin: 0 0 10px;

                }

                &:not(:last-child) {
                    margin: 0 50px 0 0;
                }
            }
        }

        .about-us__button {
            position: absolute;
            display: flex;
            padding: 16px 38px;
            z-index: 100;
        }
    }
}