.advantage {
    padding: 200px 0 80px;
    position: relative;
    overflow: hidden;

    @include break-desk-big {
        padding: 70px 0 80px;
    }

    &__bg {
        position: absolute;
        top: 0;

        @include break-desk-big {
            display: none;
        }
    }

    &__form {
        width: 100%;
        @include fc_;
        position: absolute;
        top: 40px;
    }

    &__form {
        @include break-desk-big {
            position: unset;
            margin: 0 0 50px;
            flex-direction: column;
        }
        input {
            width: 275px;
            border-radius: $br-half-round;
            padding: 20px 0 20px 30px;
            font-size: 14px;
            background-color: #fff;
            outline: none;
            margin: 0 16px 0 0;

            @include break-desk-big {
                width: 100%;
                border: 1px solid $color-black-darken;
                margin: 0 0 16px;
            }
        }
    }

    &__attach {
        @include fc_;
        margin: 0 18px 0 0;
        font-size: 12px;
        color: #fff;
        cursor: pointer;

        img {
            margin: 0 5px 0 0;
        }

        @include break-desk-big {
            margin: 0 0 16px;
            color: $color-black-darken;
            white-space: nowrap;
        }
    }

    &__button {
        padding: 18px 46px;
        font-size: 17px;

        @include break-desk-big {
            width: 100%;
            padding: 18px 100px;
        }
    }

    &__inner {
        .advantage__head {
            font-size: 25px;
            font-weight: 800;
            margin: 0 0 10px;
            color: #000;
            
            span {
                color: $color-orange-main;
            }

            @include break-mobile {
                font-size: 20px;
            }
        }
        .advantage__caption {
            margin: 0 0 30px;

            .advantage-name {
                font-size: 55px;
                font-weight: 700;
                color: $color-black-darken;
                margin: 0 0 20px;

                @include break-mobile {
                    font-size: 32px;
                }
            }
        }
    }

    &__items {
        display: flex;
        flex-direction: column;
        position: relative;
        
        .items-block {
            @include break-desk-big {
                display: none;
            }
        }
    }

    &__list {
        width: 100%;
        position: absolute;
        bottom: 5px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        @include break-desk-big {
            position: unset;
        }

        @include break-desk {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        @include break-mobile {
            width: none;
            grid-template-columns: 1fr;
        }
    }

    &__item {
        padding: 30px;

    }

    &__content {

        img {
            width: 41px;
            height: 41px;
            margin: 0 0 10px;
        }
    }

    &__title {
        margin: 0 0 5px;
        white-space: nowrap;
        font-weight: 600;
        color: $color-black-darken;
    }

    &__text {
        width: 202px;
    }
}