.arena-concert {
    position: relative;
    background-color: #f1f1f1;

    &__bg {
        width: 100%;
        position: absolute;
        top: -420px;
        left: 0;
        object-fit: scale-down;

        @include break-desk-big {
            display: none;
        }
    }

    &__photo {
        img {
            width: 609px;
            height: 478px;

            @include break-desk-big {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }


    &__inner {
        position: relative;
        top: -180px;
        z-index: 5;
    }

    &__title {
        color: #fff;
        text-align: center;
        margin: 0 0 50px;

        @include break-desk-big {
            color: $color-black-darken;
        }

        @include break-desk {
            font-size: 30px !important;
        }

    }

    &__head {
        color: #fff;

        @include break-desk-big {
            color: $color-black-darken;
        }
    }

    &__info {
        align-items: flex-end;
        @include break-desk-big {
            align-items: normal;
        }
    }

    .arena-events__features {
        margin: 0 40px 0 0;

        @include break-desk-big {
            margin: 0 0 20px 0;
        }

    }

    .info-box {

        @include break-desk-big {
            margin: 0 0 20px
        }
        &__item {
            @include fc_;
            
            &:not(:last-child) {
                margin: 0 0 20px;
            }

            img {
                margin: 0 15px 0 0;
            }
        }
    }

}