.cooperator-documents {
    padding: 250px 0 70px;
    position: relative;
    overflow: hidden;

    @include break-mobile {
        padding: 180px 0 80px 0;
    }

    &__bg {
        position: absolute;
        top: 0;
    }

    &__box {
        @include fc_;
        position: absolute;
        top: 40px;
    }

    .category-list__item:not(:last-child) {
        margin: 0 20px 0 0;
    }

    &__item {
        padding: 19px 50px;
        white-space: nowrap;
        font-size: 17px;
        color: #fff;

        @include break-desk-big {
            color: #000;
        }

        &:not(:last-child) {
            margin: 0 20px 0 0;

            @include break-desk-big {
                margin: 0 0 10px 0;
            }

        }
    }

    &__content {
        width: 100%;
    }

    &__title {
        font-weight: 800;
        margin: 0 0 35px;
    }

    .cooperator-documents-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;

        @include break-desk {
            grid-template-columns: 1fr
        }

        &__item {
            @include fc_;
            color: $color-black-darken;
            font-weight: 600;
            white-space: nowrap;

            a {
                @include fc_;
            }

            img {
                width: 27px;
                height: 27px;
                object-fit: cover;
                margin-right: 30px;

                @include break-mobile {
                    margin-right: 10px;
                }

            }

        }
    }


}