.facts-letters {
    position: relative;
    padding: 0 0 110px;

    overflow: hidden;

    ._container {
        overflow: hidden;

        @include break-desk-big {
            overflow: visible;
        }

    }

    @include break-desk-big {
        padding: 0 0 60px;
    }

    .main-arena__prev {
        left: 50%;
        transform: translateX(-50%);
        margin: 0 0 0 -630px;
        @include break-desk-big {
            margin: 0;
            transform: translate(0);
            bottom: unset !important;
            top: -25px;
            left: 0 !important;
        }
    }

    .main-arena__next {
        right: 50%;
        transform: translateX(50%);
        margin: 0 -630px 0 0;
        @include break-desk-big {
            margin: 0;
            transform: translate(0);
            bottom: unset !important;
            top: -25px;
            right: 0 !important;
        }
    }

    .main-arena__button {
        @include break-desk-big {
            position: relative;
            width: 100%;
        }
    }

    &__bg {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: scale-down;

        @include break-desk-big {
            width: 100%;
            height: 250px;
            object-position: left;
            object-fit: cover;
        }
    }


    &__inner {
        padding: 75px 0;
        position: relative;
        z-index: 5;

        @include break-desk-big {
            padding: 30px 0 0;
        }

    }

    &__head {
        font-size: 25px;
        font-weight: 700;
        margin: 0 0 10px;
        color: #fff;
        text-align: right;
        
        span {
            color: $color-orange-main;
        }

        @include break-mobile {
            font-size: 18px;
        }

        @include break-mobile-small {
            font-size: 18px;
            width: 200px;
        }
    }

    &__caption {
        display: flex;
        justify-content: right;
        margin: 0 0 40px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &-name {
        font-size: 55px;
        font-weight: 700;
        color: #fff;
        text-align: right;


        @include break-mobile {
            font-size: 30px;
        }
    }

    .letters-slider {
        @include fc_;
        position: relative;
        z-index: 3;

        &__item {
            display: flex;
            flex-direction: column;
            border-radius: $br-small;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                margin: 0 0 20px;
            }
        }

        &__title {
            margin: 0 0 10px;
            font-weight: 600;
            font-size: 25px;
            color: $color-black-darken;
        }
    }
}