.facts-history {
    padding: 0 0 90px;



    &__bg {
        width: 100%;
        overflow: hidden;
        @include break-desk {
            display: none;
        }
    }

    &__title {
        position: relative;
        top: -54px;
        left: 40px;
        font-size: 25px;
        font-weight: 800;
        color: #fff;
        white-space: nowrap;


        @include break-desk {
            left: 0;
            top: -25px;
            font-size: 25px;
            color: $color-black-darken;
        }
    }

    &__text {
        &:not(:last-child) {
            margin: 0 0 50px;
        }

        span {
            font-weight: 600;
        }
    }

    &__photos {
        @include fc_;
        gap: 38px;
        margin: 0 0 40px;

        img { 
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @include break-desk-big {
            display: flex;
            flex-direction: column;
        }
    }
}