.facts-admins {
    position: relative;
    padding: 0 0 110px;
    background-color: #f1f1f1;

    @include break-desk-big {
        padding: 0 0 50px 0;
    }

    &__bg {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: scale-down;

        @include break-desk-big {
            width: 100%;
            height: 250px;
            object-fit: cover;
            object-position: right;
        }
    }

    &__inner {
        padding: 80px 0 0;
        position: relative;
        z-index: 5;

        @include break-desk-big {
            padding: 30px 0 0;
        }

    }

    &__head {
        font-size: 25px;
        font-weight: 700;
        margin: 0 0 10px;
        color: #fff;
        
        span {
            color: $color-orange-main;
        }

    }

    &__caption {
        margin: 0 0 40px;

        @include break-mobile {
            margin: 0 0 20px;
        }

    }

    &__info {
        display: flex;
        flex-direction: column;
    }

    &-name {
        font-size: 55px;
        font-weight: 700;
        color: #fff;

        @include break-desk {
            font-size: 30px;
            width: 288px;
        }
    }

    .admins-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 58px 35px;

        @include break-desk-big {
            grid-template-columns: 1fr 1fr;
        }

        @include break-mobile {
            grid-template-columns: 1fr;
        }

        &__item {
            display: flex;
            flex-direction: column;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                margin: 0 0 14px;
            }
        }

        &__title {
            font-size: $fz-medium-less;
            font-weight: 600;
            margin: 0 0 5px;
        }

        &__rang {
            font-weight: 300;
            margin: 0 0 14px;
        }

        &__button {
            margin-top: auto;
            white-space: nowrap;
        }

    }
}