.fitness-test {
    position: relative;
    padding: 0 0 100px;
    overflow: hidden;

    &__bg {
        width: 100%;
        z-index: 1;
        object-fit: scale-down;

        @include break-desk-big {
            display: none;
        }
    }

    &__inner {
        position: absolute;
        top: 125px;
        right: 300px;
        z-index: 100;

        @include break-desk-big {
            position: unset;
        }
    }

    &__head {
        font-weight: 800;
        margin: 0 0 25px;
    }

    &__title {
        width: 790px;
        margin: 0 0 25px;
    }

    &__description {
        width: 700px;
        margin: 0 0 30px;
        font-size: 20px;

        @include break-mobile {
            width: 100%;
        }
    }

    &__button {
        padding: 18px 70px;
        font-size: 20px;
        color: #fff;
    }
}