.gyms {
    position: relative;

    &__bg {
        width: 100%;
        position: absolute;
        top: -45px;
        left: 0;

        @include break-desk-big {
            object-fit: cover;
            object-position: left;
            height: 270px;
            top: 40px;
        }
    }


    &__inner {
        padding: 90px 0;
        position: relative;
        z-index: 5;
        .gyms__head {
            font-size: 25px;
            font-weight: 700;
            margin: 0 0 10px;
            color: #fff;
            
            span {
                color: $color-orange-main;
            }

            @include break-mobile {
                font-size: 18px;
                width: 175px;
                text-align: right;
            }
        
            @include break-mobile-small {
                font-size: 15px;
            }
        }


        .gyms__caption {
            @include fcb;
            align-items: flex-end;
            margin: 0 0 40px;

            @include break-desk-big {
                flex-direction: column-reverse;
            }

            .gyms__info {
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                @include break-desk-big {
                    margin: 0 0 12px;
                }
            }

            .gyms-name {
                font-size: 55px;
                font-weight: 700;
                color: #fff;

                @include break-mobile {
                    width: 187px;
                    font-size: 30px;
                    text-align: right;
                }
            }

            .gyms__button {
                display: flex;
                padding: 16px 38px;
                white-space: nowrap;
            }
        }
    }

}