.hotel-slider {
    padding: 0 0 100px;


    &__inner {
        position: relative;
    }

    &__head {
        font-size: 25px;
        font-weight: 700;
        margin: 0 0 10px;
        
        span {
            color: $color-blue-darken;
        }

        @include break-desk-big {
        }

        @include break-mobile {
            font-size: 24px;
        }
    
        @include break-mobile-small {
            font-size: 20px;
        }
    }

    &__title {
    
        @include break-mobile-small {
            font-size: 26px;
        }
    }

    &__text {
        font-size: 30px;
        margin: 0 0 35px;

        @include break-mobile {
            font-size: 24px;
        }
    
        @include break-mobile-small {
            font-size: 20px;
        }
    }

    &__photo {
        width: 100%;
        position: relative;
        margin: 0 0 20px
    }

    &__icon {
        position: absolute;
        top: 200px;
        z-index: 1000;
    }

    &__slider {
        @include fc_;
        gap: 20px;

        @include break-desk-big {
            flex-direction: column;
        }
    }


    &__name {
        font-size: 25px;
        font-weight: 600;
        margin: 0 0 10px;

        span {
            color: $color-blue-darken;
        }
    }
}