.hotel-slider {
    position: relative;
    padding: 0 0 100px;

    &__bg {
        width: 100%;
        position: absolute;
        top: -45px;
        left: 0;

        @include break-desk-big {
            display: none;
        }
    }



    &__photo {
        width: 100%;
        position: relative;
        margin: 0 0 20px
    }

    &__icon {
        position: absolute;
        top: 200px;
        z-index: 1000;
    }

    &__slider {
        @include fc_;
        gap: 20px;

        @include break-desk-big {
            flex-direction: column;
        }
    }


    &__name {
        font-size: 25px;
        font-weight: 600;
        margin: 0 0 10px;

        span {
            color: $color-blue-darken;
        }
    }
}