.important-documents {
    padding: 0 0 100px;

    &__bg {
        width: 100%;
        overflow: hidden;
        @include break-desk-big {
            display: none;
        }
    }

    &__title {
        position: relative;
        top: -54px;
        left: 25px;
        font-size: 25px;
        font-weight: 800;
        color: #fff;

        @include break-desk-big {
            left: 0;
            top: -25px;
            font-size: 25px;
            color: $color-black-darken;
        }
    }

    &__text {
        &:not(:last-child) {
            margin: 0 0 50px;
        }

        span {
            font-weight: 600;
        }
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;

        @include break-desk {
            grid-template-columns: 1fr
        }
    }

    &__item {
        @include fc_;
        color: $color-black-darken;
        font-weight: 600;
        white-space: nowrap;

        img {
            width: 27px;
            height: 27px;
            object-fit: cover;
            margin: 0 32px 0 0;
        }
    }
}