.map {
    position: relative;


    &__bg {
        width: 100%;
        overflow: hidden;
    }

    &__wrapper {
        width: 100%;
        height: 600px;
    }
    

    .map-block {
        position: absolute;
        background-color: #fff;
        padding: 60px;
        border-radius: 60px 10px 10px 10px;
        bottom: -50px;
        z-index: 5000;

        @include break-desk-big {
            padding: 20px;
            width: 90%;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 20px;
        }

        h2 {
            font-weight: 700;
            font-size: 55px;
            margin: 0 0 30px;
            text-align: center;

            @include break-desk-big {
                font-size: 40px;
            }

            @include break-mobile {
                font-size: 30px;
            }

            span {
                color: $color-orange-main;
            }
        }

        .map-list {
            display: flex;
            gap: 80px;

            @include break-desk-big {
                flex-direction: column;
                align-items: normal;
                gap: 10px;
            }

            &__item {
                font-weight: 600;
                font-size: 20px;

                span {
                    font-size: $fz-medium-less;
                    font-weight: 300;
                }
            }

            &__mail {
                width: 330px;
            }

            &__info {
                display: flex;
                align-items: flex-start;
                gap: 10px;

                margin-top: 5px;

                img {
                    position: relative;
                    top: 8px;
                }

                @include break-desk-big {
                    align-items: normal;
                }
            }
        }
    }
}