.news {
    position: relative;

    ._container {
        overflow: hidden;
    }

    .main-arena__prev {
        left: 50%;
        transform: translateX(-50%);
        margin: 0 0 0 -630px;
        @include break-desk-big {
            display: none;
        }
    }

    .main-arena__next {
        right: 50%;
        transform: translateX(50%);
        margin: 0 -630px 0 0;
        @include break-desk-big {
            display: none;
        }
    }

    &__bg {
        width: 100%;
        position: absolute;
        top: -180px;
        left: 0;

        @include break-desk-big {
            display: none;
        }
    }


    &__inner {
        padding: 90px 0 110px;
        .news__head {
            font-size: 25px;
            font-weight: 800;
            margin: 0 0 10px;
            color: #fff;

            position: relative;

            z-index: 5;
            
            span {
                color: $color-orange-main;
            }

            @include break-desk-big {
                color: $color-black-darken;
            }

            @include break-mobile {
                font-size: 24px;
            }
        
            @include break-mobile-small {
                font-size: 20px;
            }
        }

        .news__caption {
            @include fcb;
            position: relative;
            margin: 0 0 50px;
            z-index: 5;

            @include break-desk-big {
                flex-direction: column;
                align-items: normal;
            }

            .news-name {
                font-size: 55px;
                font-weight: 700;
                color: #fff;

                @include break-desk-big {
                    color: $color-black-darken;
                    margin: 0 0 20px;
                }

                @include break-mobile {
                    font-size: 40px;
                }
            
                @include break-mobile-small {
                    font-size: 32px;
                }
            }

            .news__button {
                display: flex;
                padding: 16px 26px;
                white-space: nowrap;

                @include break-desk-big {
                    width: 100%;
                }
            }
        }

        .slider {
            display: flex;
            position: relative;
            z-index: 3;

            &__item {
                display: flex;
                flex-direction: column;
                border-radius: $br-small;


                .slider__date {
                    margin: 24px 0 10px;
                    color: $color-orange-main;
                    font-weight: 700;
                }

                .slider__title {
                    margin: 0 0 10px;
                    font-weight: 600;
                    font-size: $fz-medium-less;
                    color: $color-black-darken;
                }

                .slider__description {
                    margin: 0 0 25px;
                    color: $color-black-darken;
                }

                .slider__button {
                    padding: 16px 38px !important;
                    margin-top: auto;

                    @include break-desk-big {
                        width: 100%;
                    }
                }
            }
        }
    }
}