.rent-floor {
    padding: 0 0 100px;
    position: relative;

    &__description {
        line-height: 30px;
        margin: 0 0 40px;
    }

    &__name {
        margin: 0 0 20px;
        font-weight: 600;
        font-size: 35px;

        @include break-desk-big {
            margin: 20px 0;
        }
    }

    &__content {
        @include fc_;
        margin: 0 0 40px;

        @include break-desk-big {
            flex-direction: column;
            align-items: normal;
        }
    }

    &__photo {
        margin: 0 40px 0 0;

        @include break-desk-big {
            margin: 0;
        }

        img {
            width: 100%;
            object-fit: cover
        }
    }

    &__slider {
        background-color: #f1f1f1;
    }

    &__statistic {
        @include fc_;
        margin: 0 0 25px;

        span {
            font-size: 32px;
            font-weight: 800;
            margin: 0 28px 0 0;
            color: $color-orange-main;

            @include break-mobile-small {
                font-size: 25px;
                margin: 0 10px 0 0;
            }
        }

        p {
            width: 78px;
            font-weight: 600;
        }
    }

    // .question {
    //     margin: 0;
    // }
}

.mini-bg {
    width: 100%;
    position: relative;
    margin: 0 0 18px;

    img {
        @include break-mobile {
            display: none;
        }
    }

    &__text {
        position: absolute;
        top: 9px;
        left: 22px;

        font-weight: 800;
        color: #fff;

        @include break-mobile {
            top: -20px;
            right: 0;
            color: $color-black-darken;
        }
    }
}

.info {
    &__item {
        @include fc_;
        margin: 0 0 18px;

        @include break-mobile {
            margin: 0 0 25px
        }

        img {
            margin: 0 14px 0 0;
        }
    }
}

.info-list {
    @include fc_;

    @include break-mobile {
        flex-direction: column;
        align-items: normal;
    }

    &__item {
        @include fc_;

        &:not(:last-child) {
            margin: 0 30px 0 0;

            @include break-mobile {
                margin: 0 0 15px;
            }
        }
    }

    img {
        margin: 0 14px 0 0;
    }
}