.rent-area {
    padding: 0 0 100px;

    &__head {
        margin: 0 0 20px;
        font-weight: 800;
    }

    &__title {
        margin: 0 0 25px;
    }

    &__description {
        line-height: 30px;
        margin: 0 0 40px;
    }

    &__name {
        margin: 0 0 20px;
        font-weight: 600;
        font-size: 35px;

        @include break-desk-big {
            margin: 20px 0;
        }
    }

    &__content {
        display: flex;
        flex-direction: row-reverse;
        margin: 0 0 40px;

        @include break-desk-big {
            flex-direction: column;
        }
    }

    &__photo {
        margin: 0 40px 0 0;

        @include break-desk-big {
            margin: 0;
        }

        img {
            width: 100%;
            object-fit: cover
        }
    }

    &__features {
        margin: 0 40px 0 0;
    }

    &__slider {
        background-color: #f1f1f1;
    }

    &__statistic {
        @include fc_;
        margin: 0 0 25px;

        @include break-desk {
            flex-direction: column;
            align-items: flex-start;
            justify-content: left;
        }

        span {
            font-size: 32px;
            font-weight: 800;
            margin: 0 28px 0 0;
            color: $color-orange-main;

            @include break-desk-big {
                font-size: 25px;
                margin: 0 0 10px 0;
            }
        }

        p {
            width: 78px;
            font-weight: 600;
        }
    }

    // .question {
    //     margin: 0;
    // }
}

.mini-bg {
    width: 100%;
    position: relative;
    margin: 0 0 18px;

    img {
        @include break-mobile {
            display: none;
        }
    }

    &__text {
        position: absolute;
        top: 9px;
        left: 22px;

        font-weight: 800;
        color: #fff;

        @include break-mobile {
            top: -30px;
            left: 0;
            color: $color-black-darken;
        }
    }
}

.info {
    &__item {
        @include fc_;
        margin: 0 0 18px;

        @include break-mobile {
            margin: 0 0 25px
        }

        img {
            margin: 0 14px 0 0;
        }
    }
}