.rooms {

    &__inner {
        padding: 0 0 115px;

        .rooms__head {
            font-size: 25px;
            font-weight: 800;
            margin: 0 0 10px;
            color: #000;
            
            span {
                color: $color-orange-main;
            }

            @include break-desk-big {
                text-align: center;
            }

            @include break-mobile {
                font-size: 24px;
            }
        
            @include break-mobile-small {
                font-size: 18px;
            }
        }
        .rooms__caption {
            @include fcb;
            margin: 0 0 35px;

            @include break-desk-big {
                flex-direction: column;
            }

            

            .rooms-name {
                font-size: 55px;
                font-weight: 700;
                color: $color-black-darken;

                @include break-desk-big {
                    margin: 0 0 20px;
                }

                @include break-mobile {
                    width: 100%;
                    font-size: 40px;
                    text-align: center;
                }
            
                @include break-mobile-small {
                    font-size: 30px;
                }
            }

            .rooms__button {
                display: flex;
                padding: 16px 38px;
                white-space: nowrap;
            }
        }

        .rooms-list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 24px;

            @include break-desk-big {
                grid-template-columns: 1fr;
            }

            &__item {
                display: flex; 
                flex-direction: column;

                .rooms-list__image {
                    width: 100%;
                    margin: 0 0 18px;
                }

                .rooms-list__title {
                    margin: 0 0 32px;
                    font-size: 20px;

                    @include break-mobile {
                        margin: 0 0 20px;
                    }
                }
                
                .rooms-list__button {
                    margin-top: auto;
                }
            }
        }
    }
}