.vacancies-divs {
    padding: 0 0 110px;

    &__bg {
        width: 100%;
        overflow: hidden;
        @include break-desk {
            display: none;
        }
    }

    &__title {
        position: relative;
        top: -54px;
        left: 40px;
        font-size: 25px;
        font-weight: 800;
        color: #fff;
        white-space: nowrap;


        @include break-desk {
            left: 0;
            top: -25px;
            color: $color-black-darken;
            white-space: pre-line;
        }
    }

    .accordion {
        @include fcb;
        border-radius: 10px;
        background-color: #f1f1f1;
        padding: 30px 40px;
        margin: 0 0 20px;

        &__button {
            @include width-height(32px, 32px)
        }
    }

    &__info {
        margin: 0 0 25px;
        p {
            margin: 0 0 20px;
        }

        h4 {
            font-weight: 600;

            &:not(:last-child) {
                margin: 0 0 10px;
            }
        }

        li {
            list-style: inside;
            margin: 0 0 10px 10px;
        }
    }

    &__button {
        margin: 0 0 25px;
        padding: 16px 52px;
    }
}